<a href="https://colab.research.google.com/github/volpo/PG_YELP_GOOGLE_MAPS/blob/main/pruebas_de_carga_google_stores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

modelos de regresión

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs

In [ ]:

    '''# Create a new DataFrame with the unique categories
    df_category = pd.DataFrame({'category': stores['category'].apply(list).explode().unique()})

    #aux_df = df_stores['category'].apply(list).explode().unique()


    # Split the categories into separate rows
    splitted_df = aux_df['category'].explode()

    # Get the unique categories
    unique_categories = splitted_df.unique()

    # Create a new DataFrame with the unique categories
    df_category = pd.DataFrame({'category': unique_categories})


    #aux_df.explode().unique()
    #df_category.head()

    return df_category'''

In [1]:
#Librerias Requeridas
!pip install cassandra-driver

from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

Collecting cassandra-driver
  Downloading cassandra_driver-3.28.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.1/19.1 MB 63.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.28.0 geomet-0.2.1.post1

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['186.87.6.161'], lbp = None)

In [3]:

indice_inicio = 0
tamaño_particion = 5000

    # Calcular el índice final
indice_fin = indice_inicio + tamaño_particion

Estados = ['New York','Texas', 'Nevada', 'California', 'Florida']

dictionary = {
            'gmap_id':[],
            'state': [],
            'user_id':[],
            'name': [],
            'time':[],
            'rating': [],
            'text':[],
            'resp': []}

for estado in Estados:
# Construct the query
    query = f"""SELECT gmap_id, state, user_id, name, time, rating, text, resp
                FROM reviews WHERE state = '{estado}'
                """
    statement = SimpleStatement(query,fetch_size = 5000)
    resp = session.execute(statement,timeout=None)


    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

reviews_texas = pd.DataFrame(dictionary)
reviews_texas.head()

WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c29d340d343cff:0xcfbac486ada55256') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2674340dbd021:0x5982f3f892a92c6c') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d3726a0ec5518b:0x99d867769abf2650') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25cb2febd0da3:0x45d01c3e71328fb4') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d3776c9a24cf3f:0x485dee4f6ace87b3') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c29437dbbcb737:0x7c5236197a403e6d') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25e3789a1e801:0x33353843840223ba') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c244360f1e1371:0x45f54e3a5017dbdc') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89da6c871866c571:0xd2b17e8d1534b294') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89daecf6b3755ce5:0xfcf87af73aaad999') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89e8421527560595:0x17598ca229b75f2c') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d766a25de71b4d:0x2c3e0b7dffbd8c87') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25fbfcc5d94b9:0x47b2799a7416bb79') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89da58eb2c83293b:0xe8c17c0f5a5039da') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89e840e3397f896f:0xf310b619c98149c4') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25966c5e13d1d:0x3c13438f54a3bd9b') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2f4a494dfbb77:0x1cf5240ed5a16f38') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c259bb20273c51:0xc230e90348c7846') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89de11c2986616b3:0xfec23cb6e331888') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c258f62fec73a7:0xb88e9372fb041774') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c258f66d739287:0xb62f2ce924aab247') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c258fc102f6e51:0x88603435e036aa5b') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2f352be2ab27d:0xb115b9d1718b9640') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2598f7ff4aa09:0x313547e757cb8cea') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89de74cf86e39cf1:0x49d4e5ae8105f2f') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d0e5cd84d6b1df:0xa4932f1d9268961f') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89e82ae0ce09c5d9:0x8594135afc81de4a') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89e829d024fe14b5:0xb0f71f6df0931d28') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c28008c3eb400b:0x49dcb8786c562e47') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d91222c0da8975:0xebd5ffc58f155785') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2871426b6f627:0x580afa033b953c34') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d36defe0601227:0x4aa2bc9927d3bb51') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25a4ca910d461:0x1caa501f19f74680') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x864e9c3eff202e03:0x1cc3e7b8017275c4') AND state = 'Texas' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x8643e61f237d2a73:0x6f634e82e8b4144b') AND state = 'Texas' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

KeyboardInterrupt: ignored

In [ ]:
import pandas as pd
from cassandra.query import SimpleStatement

# Definir el tamaño de la partición y los estados
tamaño_particion = 5000
estados = ['New York', 'Texas', 'Nevada', 'California', 'Florida']

# Crear un DataFrame vacío para almacenar los resultados
reviews_combined = pd.DataFrame()

# Calcular el índice de inicio
indice_inicio = 0

for estado in estados:
    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion

    # Construir la consulta CQL
    query = f"""
    SELECT gmap_id, state, user_id, name, time, rating, text, resp
    FROM reviews WHERE state = '{estado}' ALLOW FILTERING
    """

    statement = SimpleStatement(query, fetch_size=5000)

    # Ejecutar la consulta en la base de datos Cassandra
    resp = session.execute(statement, timeout=None)

    # Crear un diccionario para almacenar los datos del estado actual
    dictionary = {
        'gmap_id': [],
        'state': [],
        'user_id': [],
        'name': [],
        'time': [],
        'rating': [],
        'text': [],
        'resp': []
    }

    # Iterar a través de los resultados y recopilar los datos en el diccionario
    for i, row in enumerate(resp):
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    # Crear un DataFrame para el estado actual
    reviews_state = pd.DataFrame(dictionary)

    # Concatenar el DataFrame del estado actual con el DataFrame combinado
    reviews_combined = pd.concat([reviews_combined, reviews_state], ignore_index=True)

    # Actualizar el índice de inicio para el próximo estado
    indice_inicio = indice_fin

# Ahora, reviews_combined contiene todos los datos de los estados especificados
# Puedes acceder a los datos combinados utilizando reviews_combined.head() u otras operaciones de Pandas

In [4]:
indice_inicio = 0
tamaño_particion = 5000

# Inicializar una variable para el recuento total de filas procesadas
total_filas_procesadas = 0

# Calcular el índice final
indice_fin = indice_inicio + tamaño_particion

Estados = ['New York', 'Texas', 'Nevada', 'California', 'Florida']

dictionary = {
    'gmap_id': [],
    'state': [],
    'user_id': [],
    'name': [],
    'time': [],
    'rating': [],
    'text': [],
    'resp': []
}

for estado in Estados:
    # Verificar si ya se procesaron 5000 filas en total
    if total_filas_procesadas >= 5000:
        break

    # Construct the query
    query = f"""SELECT gmap_id, state, user_id, name, time, rating, text, resp
                FROM reviews WHERE state = '{estado}'
                """
    statement = SimpleStatement(query, fetch_size=5000)
    resp = session.execute(statement, timeout=None)

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

            # Incrementar el recuento total de filas procesadas
            total_filas_procesadas += 1

    # Actualizar el índice de inicio para la próxima partición
    indice_inicio = indice_fin

# Crear el DataFrame
reviews_texas = pd.DataFrame(dictionary)
reviews_texas.head()

WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89e840e3397f896f:0xf310b619c98149c4') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25966c5e13d1d:0x3c13438f54a3bd9b') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2f4a494dfbb77:0x1cf5240ed5a16f38') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c259bb20273c51:0xc230e90348c7846') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

KeyboardInterrupt: ignored

In [5]:
indice_inicio = 0
tamaño_particion = 5000

# Calcular el índice final
indice_fin = indice_inicio + tamaño_particion

Estados = ['New York', 'Texas', 'Nevada', 'California', 'Florida']

dictionary = {
    'gmap_id': [],
    'state': [],
    'user_id': [],
    'name': [],
    'time': [],
    'rating': [],
    'text': [],
    'resp': []
}

# Inicializar una variable para el recuento total de filas procesadas
total_filas_procesadas = 0

for estado in Estados:
    # Verificar si ya se procesaron 5000 filas en total
    if total_filas_procesadas >= 5000:
        break

    # Construct the query
    query = f"""SELECT gmap_id, state, user_id, name, time, rating, text, resp
                FROM reviews WHERE state = '{estado}'
                """
    statement = SimpleStatement(query, fetch_size=5000)
    resp = session.execute(statement, timeout=None)

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    # Incrementar el recuento total de filas procesadas después de cada consulta
    total_filas_procesadas += min(indice_fin, len(resp))

    # Actualizar el índice de inicio para la próxima partición
    indice_inicio = indice_fin

# Crear el DataFrame
reviews_texas = pd.DataFrame(dictionary)
reviews_texas.head()

WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c29d340d343cff:0xcfbac486ada55256') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c2674340dbd021:0x5982f3f892a92c6c') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89d3726a0ec5518b:0x99d867769abf2650') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT name, rating, resp, text FROM henry.reviews WHERE token(gmap_id) >= token('0x89c25cb2febd0da3:0x45d01c3e71328fb4') AND state = 'New York' LIMIT 5000 ALLOW FILTERING. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

KeyboardInterrupt: ignored

In [ ]:


'''if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test'''


'''@data_loader'''

categories_searched = ['Restaurant',
                        'restaurant',
                        'Bar',
                        'bar',
                        'Deli',
                        'Grocery',
                        'Coffee',
                        'Bakery',
                        'Sandwich']

dictionary = {'gmap_id':[],
                'name': [],
                'address': [],
                'latitude': [],
                'longitude': [],
                'category':[],
                'misc':[]}



for category_searched in categories_searched:
# Construct the query
    query = f"""SELECT gmap_id, name, address, latitude, longitude, category, misc
                FROM stores
                WHERE category CONTAINS '{category_searched}'
                """
    statement = SimpleStatement(query, fetch_size=300)
    answer = session.execute(statement, timeout=None)

    for row in answer:
        dictionary['gmap_id'].append(row['gmap_id'])
        dictionary['name'].append(row['name'])
        dictionary['address'].append(row['address'])
        dictionary['latitude'].append(row['latitude'])
        dictionary['longitude'].append(row['longitude'])
        # Convert the SortedSet to a comma-separated string
        category_str = ', '.join(row['category'])
        dictionary['category'].append(category_str)
        dictionary['misc'].append(row['misc'])


df_stores = pd.DataFrame(dictionary)

print(df_stores)


'''
@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'
'''

                                      gmap_id  \
0       0x87f38b6db3bf5557:0xb793ff26fbedb7fe
1       0x80c8bf86a8b9a3f1:0xacfe57cd1919e249
2       0x808506614c768671:0xde51b62058db3bce
3       0x8842ecec5931b86b:0x703640198411596d
4       0x87e030ec559cac7f:0x8f04ab05959695e6
...                                       ...
157439  0x876a706c24f78761:0xda56387cfc9157b7
157440  0x54906ab2f6d99cff:0x2951ee439830694f
157441  0x88e7790ad915b3bf:0xe29ffb688b004513
157442  0x89c25a263dab771f:0xe92ae29003b3656d
157443  0x89ba83163154720d:0x8656d643ae68b6a4

                                       name  \
0                                     Shell
1                   Ember's Grill + Spirits
2                                  La Toque
3                         Godfather's Pizza
4                                    Subway
...                                     ...
157439                    Mountain Cupcakes
157440                         Confectional
157441                   Echantillon Bakery
157442                           Q Q Bakery
157443  Ethereal Cupcakes And Coffee Shoppe

                                                  address   latitude  \
0              Shell, 1510 Giant Dr, Blue Earth, MN 56013  43.657063
1       Ember's Grill + Spirits, 740 S Rampart Blvd, L...  36.163380
2             La Toque, 1314 McKinstry St, Napa, CA 94559  38.304173
3       Godfather's Pizza, 233 Lexington Rd, Lancaster...  37.625710
4                    Subway, 330 N 1st St, Cuba, IL 61427  40.496239
...                                                   ...        ...
157439  Mountain Cupcakes, 141 E Meadow Dr #202, Vail,...  39.642269
157440      Confectional, 1530 Pike Pl, Seattle, WA 98101  47.609447
157441  Echantillon Bakery, 5233 Old Winter Garden Rd,...  28.540880
157442  Q Q Bakery, 50 E Broadway # 1, New York, NY 10002  40.713718
157443  Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...  37.044067

         longitude                                           category  \
0       -94.097725  ATM, Car wash, Convenience store, Gas station,...
1      -115.289413                                    Bar, Restaurant
2      -122.283989                      French restaurant, Restaurant
3       -84.580132  Buffet restaurant, Delivery Restaurant, Italia...
4       -90.198875  Caterer, Fast food restaurant, Restaurant, San...
...            ...                                                ...
157439 -106.376160  Bakery, Breakfast restaurant, Coffee shop, Lun...
157440 -122.341492                                             Bakery
157441  -81.450752                                             Bakery
157442  -73.995697                                             Bakery
157443  -76.394806  Bakery, Coffee shop, Live music venue, Vegan r...

                                                     misc
0       {'Accessibility': ['Wheelchair accessible entr...
1       {'Service options': ['Delivery'], 'Highlights'...
2       {'Service options': ['Outdoor seating', 'Dine-...
3       {'Service options': ['Delivery'], 'Popular for...
4       {'Service options': ['Curbside pickup', 'Takeo...
...                                                   ...
157439  {'Service options': ['Delivery'], 'Accessibili...
157440  {'Service options': ['Delivery', 'In-store pic...
157441  {'Service options': ['Delivery', 'In-store sho...
157442                  {'Service options': ['Delivery']}
157443  {'Service options': ['Outdoor seating', 'Deliv...

[157444 rows x 7 columns]

'\n@test\ndef test_output(output, *args) -> None:\n    """\n    Template code for testing the output of the block.\n    """\n    assert output is not None, \'The output is undefined\'\n'

In [ ]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157444 entries, 0 to 157443
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   misc       157444 non-null  object
dtypes: float64(2), object(4)
memory usage: 7.2+ MB

In [ ]:
df_stores.head()

,gmap_id,name,address,latitude,longitude,category,misc
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"ATM, Car wash, Convenience store, Gas station,...",{'Accessibility': ['Wheelchair accessible entr...
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"Bar, Restaurant","{'Service options': ['Delivery'], 'Highlights'..."
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"French restaurant, Restaurant","{'Service options': ['Outdoor seating', 'Dine-..."
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"Buffet restaurant, Delivery Restaurant, Italia...","{'Service options': ['Delivery'], 'Popular for..."
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"Caterer, Fast food restaurant, Restaurant, San...","{'Service options': ['Curbside pickup', 'Takeo..."

In [ ]:
# Crear un DataFrame con categorías únicas separadas por palabras
unique_categories = df_stores['category'].apply(lambda x: x.split(', ')).explode().unique()
unique_categories

array(['ATM', 'Car wash', 'Convenience store', ..., 'Handicraft fair',
       'Handicrafts wholesaler', 'Dry cleaner'], dtype=object)

In [ ]:
df_category = pd.DataFrame({'category': unique_categories})
df_category

NameError: ignored

In [ ]:
#eexportar a un csv las categorias

df_category.to_csv('categories', index= False)


**Get Categories id**

The second step is to get the categories id of each store

In [ ]:
# Crear un diccionario para mapear categorías a índices
category_index_map = {category: index for index, category in enumerate(df_category['category'])}
category_index_map

{'ATM': 0,
 'Car wash': 1,
 'Convenience store': 2,
 'Gas station': 3,
 'Restaurant': 4,
 'Bar': 5,
 'French restaurant': 6,
 'Buffet restaurant': 7,
 'Delivery Restaurant': 8,
 'Italian restaurant': 9,
 'Pizza restaurant': 10,
 'Caterer': 11,
 'Fast food restaurant': 12,
 'Sandwich shop': 13,
 'Takeout Restaurant': 14,
 'Brunch restaurant': 15,
 'Cocktail bar': 16,
 'Family restaurant': 17,
 'Fine dining restaurant': 18,
 'Lunch restaurant': 19,
 'Mediterranean restaurant': 20,
 'Pizza delivery': 21,
 'Japanese restaurant': 22,
 'Sushi restaurant': 23,
 'American restaurant': 24,
 'Hamburger restaurant': 25,
 'Hot dog restaurant': 26,
 'Hot dog stand': 27,
 'Chinese restaurant': 28,
 'Thai restaurant': 29,
 'Latin American restaurant': 30,
 'Mexican restaurant': 31,
 'Alternative fuel station': 32,
 'Electric vehicle charging station': 33,
 'Bar & grill': 34,
 'Amusement center': 35,
 'Event venue': 36,
 'Video arcade': 37,
 'Delivery service': 38,
 'Asian restaurant': 39,
 'Southeast Asian restaurant': 40,
 'Vietnamese restaurant': 41,
 'Vegan restaurant': 42,
 'Pub': 43,
 'Wine bar': 44,
 'Peruvian restaurant': 45,
 'Dominican restaurant': 46,
 'Diner': 47,
 'Chicken wings restaurant': 48,
 'Sports bar': 49,
 'Takeout restaurant': 50,
 'Breakfast restaurant': 51,
 'Coffee shop': 52,
 'Health food restaurant': 53,
 'Health food store': 54,
 'Juice shop': 55,
 'Deli': 56,
 'Japanese steakhouse': 57,
 'Seafood restaurant': 58,
 'Barbecue restaurant': 59,
 'Cafe': 60,
 'New American restaurant': 61,
 'Sports nutrition store': 62,
 'Gluten-free restaurant': 63,
 'Salad shop': 64,
 'Soup restaurant': 65,
 'Vegetarian restaurant': 66,
 'Spanish restaurant': 67,
 'Food and drink': 68,
 'Cafeteria': 69,
 'Chicken restaurant': 70,
 'Tex-Mex restaurant': 71,
 'Lounge': 72,
 'Bakery': 73,
 'Live music venue': 74,
 'Wedding venue': 75,
 'Steak house': 76,
 'Winery': 77,
 'Fish store': 78,
 'Grocery store': 79,
 'Market': 80,
 'Meat products': 81,
 'Poultry store': 82,
 'Southern restaurant (US)': 83,
 'Middle Eastern restaurant': 84,
 'Bowling alley': 85,
 'Gastropub': 86,
 'Indian restaurant': 87,
 'South Asian restaurant': 88,
 'Canadian restaurant': 89,
 'Box lunch supplier': 90,
 'Catering food and drink supplier': 91,
 'Irish pub': 92,
 'Irish restaurant': 93,
 'Night club': 94,
 'Dessert shop': 95,
 'Banquet hall': 96,
 'Concert hall': 97,
 'Food court': 98,
 'Oyster bar restaurant': 99,
 'Fried chicken takeaway': 100,
 'Pasta shop': 101,
 'Australian restaurant': 102,
 'Ice cream shop': 103,
 'Indoor playground': 104,
 'Singaporean restaurant': 105,
 'Miniature golf course': 106,
 'Country club': 107,
 'Gift shop': 108,
 'Tea house': 109,
 'Grill': 110,
 'Filipino restaurant': 111,
 'Beer store': 112,
 'Lottery retailer': 113,
 'Tobacco shop': 114,
 'Golf course': 115,
 'Swimming pool': 116,
 'Burrito restaurant': 117,
 'Taco restaurant': 118,
 'European restaurant': 119,
 'Tapas restaurant': 120,
 'Pizza Takeout': 121,
 'Cake shop': 122,
 'Chinese noodle restaurant': 123,
 'Taiwanese restaurant': 124,
 'Russian restaurant': 125,
 'Uzbeki restaurant': 126,
 'Jamaican restaurant': 127,
 'Food bank': 128,
 'Store': 129,
 'Mobile caterer': 130,
 'Pastry shop': 131,
 'Pretzel store': 132,
 'Beer garden': 133,
 'Espresso bar': 134,
 'Brewery': 135,
 'Brewpub': 136,
 'German restaurant': 137,
 'Ramen restaurant': 138,
 'Fusion restaurant': 139,
 'Greek restaurant': 140,
 'Traditional American restaurant': 141,
 'Salvadoran restaurant': 142,
 'Asian fusion restaurant': 143,
 'Delivery Chinese restaurant': 144,
 'Produce market': 145,
 'Down home cooking restaurant': 146,
 'Persian restaurant': 147,
 'Seafood market': 148,
 'Chinese takeaway': 149,
 'Bistro': 150,
 'Gyro restaurant': 151,
 'Halal restaurant': 152,
 'Kosher restaurant': 153,
 'Vaporizer store': 154,
 'Meal delivery': 155,
 'Jazz club': 156,
 'Soul food restaurant': 157,
 'Caribbean restaurant': 158,
 'Adult entertainment club': 159,
 'Historical landmark': 160,
 'Food and beverage consultant': 161,
 'South American restaurant': 162,
 'Casino': 163,
 'Live music bar': 164,
 'Small plates restaurant': 165,
 'Venezuelan restaurant': 166,
 'Wine store': 167,
 'Beer hall': 168,
 'Pho restaurant': 169,
 'Corporate office': 170,
 'Liquor store': 171,
 'Distillery': 172,
 'Karaoke bar': 173,
 'Falafel restaurant': 174,
 'Northern Italian restaurant': 175,
 'Southern Italian restaurant': 176,
 'Hawaiian restaurant': 177,
 'Colombian restaurant': 178,
 'RV park': 179,
 'Laser tag center': 180,
 'Food producer': 181,
 'Amusement park': 182,
 'Batting cage center': 183,
 'Go-kart track': 184,
 'Playground': 185,
 'Rock climbing': 186,
 'Roller coaster': 187,
 'Noodle shop': 188,
 'Wholesaler': 189,
 'Cheesesteak restaurant': 190,
 'Dessert restaurant': 191,
 'Dumpling restaurant': 192,
 'Tapas bar': 193,
 'Soup shop': 194,
 'Ethnic restaurant': 195,
 'Donut shop': 196,
 'Popcorn store': 197,
 'Snack bar': 198,
 'West African restaurant': 199,
 'Internet cafe': 200,
 'Apartment building': 201,
 'Art gallery': 202,
 'Local history museum': 203,
 'Office space rental agency': 204,
 'Post office': 205,
 'Armenian restaurant': 206,
 'Honduran restaurant': 207,
 'Cajun restaurant': 208,
 'Dance restaurant': 209,
 'Bubble tea store': 210,
 'Meat dish restaurant': 211,
 'Movie theater': 212,
 'Nuevo Latino restaurant': 213,
 'Rice restaurant': 214,
 'Cabin rental agency': 215,
 'Rest stop': 216,
 'Truck stop': 217,
 'Fresh food market': 218,
 'Eclectic restaurant': 219,
 'Gay night club': 220,
 'Gambling house': 221,
 'Corporate campus': 222,
 'Pool hall': 223,
 'Georgian restaurant': 224,
 'Southwestern restaurant (US)': 225,
 'Cigar shop': 226,
 'Massage therapist': 227,
 'Organic restaurant': 228,
 'Wellness center': 229,
 'Yoga studio': 230,
 'Butcher shop': 231,
 'Czech restaurant': 232,
 'Organic farm': 233,
 'Off track betting shop': 234,
 'Ecuadorian restaurant': 235,
 'Agricultural service': 236,
 'Dinner theater': 237,
 'Festival': 238,
 'Manufacturer': 239,
 'Boutique': 240,
 'Flea market': 241,
 'Furniture store': 242,
 'Painting': 243,
 'Pie shop': 244,
 'Event planner': 245,
 'Wine club': 246,
 'Propane supplier': 247,
 'Self service car wash': 248,
 'Frozen yogurt shop': 249,
 'Cuban restaurant': 250,
 'Polish restaurant': 251,
 'Public golf course': 252,
 'Karaoke': 253,
 'Californian restaurant': 254,
 'Physical fitness program': 255,
 'Senior citizen center': 256,
 'Self-catering accommodation': 257,
 'Function room facility': 258,
 'Hotel': 259,
 'Mandarin restaurant': 260,
 'Tea store': 261,
 'Dim sum restaurant': 262,
 'Korean barbecue restaurant': 263,
 'African restaurant': 264,
 'Haitian restaurant': 265,
 'Brazilian restaurant': 266,
 'Boat ramp': 267,
 'Boat storage facility': 268,
 'Fuel supplier': 269,
 'Marina': 270,
 'Water sports equipment rental service': 271,
 'High ropes course': 272,
 'Bar restaurant furniture store': 273,
 'Pizza takeaway': 274,
 'Afghani restaurant': 275,
 'Lebanese restaurant': 276,
 'Coffee store': 277,
 'Sushi takeaway': 278,
 'Shopping mall': 279,
 'Ethiopian restaurant': 280,
 'Hobby store': 281,
 'Camp': 282,
 'Dude ranch': 283,
 'Horse riding school': 284,
 'Non-profit organization': 285,
 'Rodeo': 286,
 'Korean restaurant': 287,
 'Mexican torta restaurant': 288,
 'Wedding bakery': 289,
 'Central American restaurant': 290,
 'Catering': 291,
 'Condominium complex': 292,
 'Raw food restaurant': 293,
 'South African restaurant': 294,
 'Coffee roasters': 295,
 'Market operator': 296,
 'Pancake restaurant': 297,
 'Appliance parts supplier': 298,
 'Appliance repair service': 299,
 'Appliance store': 300,
 'Industrial equipment supplier': 301,
 'Kitchen supply store': 302,
 'Restaurant supply store': 303,
 'Wedding planner': 304,
 'Country food restaurant': 305,
 'Diesel fuel supplier': 306,
 'Pan-Asian restaurant': 307,
 'General store': 308,
 'Hardware store': 309,
 'Money order service': 310,
 'Notary public': 311,
 'Truck rental agency': 312,
 'Bicycle Shop': 313,
 'Bicycle rental service': 314,
 'Bicycle repair shop': 315,
 'Campground': 316,
 'Firewood supplier': 317,
 'Ice supplier': 318,
 'Meat wholesaler': 319,
 'Bagel shop': 320,
 'Gym': 321,
 'Basketball court': 322,
 'Hockey rink': 323,
 'Ice skating rink': 324,
 'Soccer field': 325,
 'Sports complex': 326,
 'Summer camp': 327,
 'Book store': 328,
 'Film production company': 329,
 'Hookah bar': 330,
 'Attorney': 331,
 'Motel': 332,
 'Mexican grocery store': 333,
 'Chocolate shop': 334,
 'Conference center': 335,
 'Boat rental service': 336,
 'Camping cabin': 337,
 'Canoe & kayak rental service': 338,
 'Fishing camp': 339,
 'Fishing pier': 340,
 'Indoor lodging': 341,
 'Resort hotel': 342,
 'Comedy club': 343,
 'Fish and chips takeaway': 344,
 'Hot pot restaurant': 345,
 'Pacific Northwest restaurant (US)': 346,
 'Israeli restaurant': 347,
 "Farmers' market": 348,
 'Organic food store': 349,
 'Dance club': 350,
 'Portuguese restaurant': 351,
 'Gourmet grocery store': 352,
 'Scandinavian restaurant': 353,
 'Shawarma restaurant': 354,
 'Plumber': 355,
 'East African restaurant': 356,
 'Beach volleyball court': 357,
 'Golf driving range': 358,
 'Indoor golf course': 359,
 'Party planner': 360,
 'Coffee wholesaler': 361,
 'Puerto Rican restaurant': 362,
 'Restaurant or cafe': 363,
 'Food service': 364,
 'Swimming instructor': 365,
 'Tennis club': 366,
 'Cookie shop': 367,
 'Money transfer service': 368,
 'Teppanyaki restaurant': 369,
 'Fish & chips restaurant': 370,
 'New England restaurant': 371,
 'Airstrip': 372,
 'Amphitheater': 373,
 'Camping store': 374,
 'Off roading area': 375,
 'Raft trip outfitter': 376,
 'Hoagie restaurant': 377,
 'Bed & breakfast': 378,
 'Dance hall': 379,
 'Fishing charter': 380,
 'Wok restaurant': 381,
 'Chinese tea house': 382,
 'Traditional restaurant': 383,
 'Christmas store': 384,
 'Christmas tree farm': 385,
 'Plant nursery': 386,
 'Fondue restaurant': 387,
 'Sukiyaki and Shabu Shabu restaurant': 388,
 'Golf club': 389,
 'Wi-Fi spot': 390,
 'Bowling supply shop': 391,
 'Supermarket': 392,
 'Beauty salon': 393,
 'Hair salon': 394,
 'Hairdresser': 395,
 'Nail salon': 396,
 'Spa': 397,
 'Culinary school': 398,
 'Bingo hall': 399,
 'BBQ area': 400,
 'Barbecue area': 401,
 'Pakistani restaurant': 402,
 'Coworking space': 403,
 'Crab house': 404,
 'Guatemalan restaurant': 405,
 'Cooking school': 406,
 'Italian grocery store': 407,
 'Spice store': 408,
 'Tamale shop': 409,
 'Bangle Shop': 410,
 'Farm': 411,
 'Hungarian restaurant': 412,
 'Association or organization': 413,
 'Fishing area': 414,
 'Hiking area': 415,
 'Fruits wholesaler': 416,
 'Piano bar': 417,
 'Fruit and vegetable store': 418,
 'Japanese curry restaurant': 419,
 'Authentic Japanese restaurant': 420,
 'Frozen food store': 421,
 'Vegetarian cafe and deli': 422,
 'Conveyor belt sushi restaurant': 423,
 'African goods store': 424,
 'Indian sizzler restaurant': 425,
 'Indian takeaway': 426,
 'Modern Indian restaurant': 427,
 'Native American restaurant': 428,
 'Wholesale bakery': 429,
 'Eatery': 430,
 'Food and beverage exporter': 431,
 'Coffee stand': 432,
 'Ammunition supplier': 433,
 'Gun shop': 434,
 'Souvenir store': 435,
 'Creole restaurant': 436,
 'Airport': 437,
 'Community center': 438,
 'Auto repair shop': 439,
 'Car repair and maintenance': 440,
 'Mechanic': 441,
 'Oil change service': 442,
 'Tire shop': 443,
 'Vitamin & supplements store': 444,
 'Entertainment agency': 445,
 'Leagues club': 446,
 'Private golf course': 447,
 'Herb shop': 448,
 'Nicaraguan restaurant': 449,
 'Public swimming pool': 450,
 'Church': 451,
 'Cider bar': 452,
 'Cider mill': 453,
 'Soondae restaurant': 454,
 'Asian grocery store': 455,
 'Indian grocery store': 456,
 'Adult entertainment store': 457,
 'Food delivery': 458,
 'Argentinian restaurant': 459,
 'Childrens party buffet': 460,
 'Archery store': 461,
 'Boat repair shop': 462,
 'Hunting and fishing store': 463,
 'Cabaret club': 464,
 'Circus': 465,
 'Theater production': 466,
 'Club': 467,
 'Performing arts theater': 468,
 'Pan-Latin restaurant': 469,
 'Golf instructor': 470,
 'Beer distributor': 471,
 'Tack shop': 472,
 'Hawaiian goods store': 473,
 'Pacific Rim restaurant': 474,
 'Polynesian restaurant': 475,
 'Discount store': 476,
 'Dollar store': 477,
 'Game store': 478,
 'Model shop': 479,
 'Music store': 480,
 'Record store': 481,
 'Used game store': 482,
 'Video game store': 483,
 'Video store': 484,
 'Disc golf course': 485,
 'Turkish restaurant': 486,
 'Fraternal organization': 487,
 'Lodge': 488,
 'Cell phone store': 489,
 'Computer repair service': 490,
 'Mobile phone repair shop': 491,
 'Telecommunications service provider': 492,
 'Variety store': 493,
 'Pharmacy': 494,
 'Chicken shop': 495,
 'Golf shop': 496,
 'Motorcycle parts store': 497,
 'Parking lot for bicycles': 498,
 'Belgian restaurant': 499,
 'Recording studio': 500,
 'Clothing store': 501,
 'Tiki bar': 502,
 'Cooking class': 503,
 'Syrian restaurant': 504,
 'Poke bar': 505,
 'Brasserie': 506,
 'Public bathroom': 507,
 'Crêperie': 508,
 'Tourist attraction': 509,
 'Guest house': 510,
 'Ranch': 511,
 'Billiards supply store': 512,
 'Dart bar': 513,
 'Disco club': 514,
 'Entertainer': 515,
 'Shabu-shabu restaurant': 516,
 'Dog cafe': 517,
 'Wedding service': 518,
 'Grill store': 519,
 'Bait shop': 520,
 'Food products supplier': 521,
 'Fashion designer': 522,
 'Egyptian restaurant': 523,
 'Weight loss service': 524,
 'Inn': 525,
 'Eastern European restaurant': 526,
 'Kazakhstani restaurant': 527,
 'Dog trainer': 528,
 'Soft drinks shop': 529,
 'Frozen dessert supplier': 530,
 'Nightlife': 531,
 'City park': 532,
 'Medical spa': 533,
 'Candy store': 534,
 'Shared-use commercial kitchen': 535,
 'Party store': 536,
 'Nepalese restaurant': 537,
 'Ghost town': 538,
 'Tour operator': 539,
 'Patisserie': 540,
 'Bicycle club': 541,
 'Mexican goods store': 542,
 'Home goods store': 543,
 'Shoe store': 544,
 "Women's clothing store": 545,
 'Hunan restaurant': 546,
 'Park': 547,
 'Sports club': 548,
 'DJ service': 549,
 'Log cabins': 550,
 'Importer': 551,
 'Corporate entertainment service': 552,
 'Event management company': 553,
 'Wedding buffet': 554,
 'Sporting goods store': 555,
 'Check cashing service': 556,
 'Chophouse restaurant': 557,
 'Cheese shop': 558,
 'Laotian restaurant': 559,
 'Natural goods store': 560,
 'Ballroom': 561,
 'Adventure sports center': 562,
 "Children's amusement center": 563,
 "Children's party service": 564,
 'Recreation center': 565,
 'Izakaya restaurant': 566,
 'Butcher shop deli': 567,
 'Grocery delivery service': 568,
 'Laundry': 569,
 'Truck accessories store': 570,
 'Vineyard': 571,
 'Serviced accommodation': 572,
 'Costa Rican restaurant': 573,
 'Gay bar': 574,
 'Beverage distributor': 575,
 'Shanghainese restaurant': 576,
 'Swiss restaurant': 577,
 'Fruit parlor': 578,
 'Convention center': 579,
 'Museum': 580,
 'Farm equipment supplier': 581,
 'Cantonese restaurant': 582,
 'Sichuan restaurant': 583,
 'Tent rental service': 584,
 'Seafood wholesaler': 585,
 'Baking supply store': 586,
 'Bathroom supply store': 587,
 'Commercial refrigeration': 588,
 'Commercial refrigerator supplier': 589,
 'Janitorial equipment supplier': 590,
 'Sharpening service': 591,
 'Health and beauty shop': 592,
 'Modern French restaurant': 593,
 'Candle store': 594,
 'Gift basket store': 595,
 'Contemporary Louisiana restaurant': 596,
 'Dance school': 597,
 'Moroccan restaurant': 598,
 'HVAC contractor': 599,
 'Ski resort': 600,
 'Ski school': 601,
 'Jewelry store': 602,
 'Mine': 603,
 'Advertising agency': 604,
 'Marketing agency': 605,
 'Fruit and vegetable wholesaler': 606,
 'Po’ boys restaurant': 607,
 'Art cafe': 608,
 'Chesapeake restaurant': 609,
 'Fish and seafood restaurant': 610,
 'Pizza': 611,
 'Wine': 612,
 'Veterans organization': 613,
 'British restaurant': 614,
 'Nutritionist': 615,
 'Personal trainer': 616,
 'Outdoor sports store': 617,
 'Bangladeshi restaurant': 618,
 'Biryani restaurant': 619,
 'Punjabi restaurant': 620,
 'After school program': 621,
 'Day care center': 622,
 'Preschool': 623,
 'Youth organization': 624,
 'Parking lot for motorcycles': 625,
 'Youth center': 626,
 'Burmese restaurant': 627,
 'French steakhouse restaurant': 628,
 'Extended stay hotel': 629,
 'Continental restaurant': 630,
 'Lottery shop': 631,
 'Cattle farm': 632,
 'Fish farm': 633,
 'Hay supplier': 634,
 'Pond fish supplier': 635,
 'Pond supply store': 636,
 'Cruise line company': 637,
 'Direct mail advertising': 638,
 'Food manufacturer': 639,
 'Foundation': 640,
 'Paraguayan restaurant': 641,
 'Charcuterie': 642,
 'Kebab shop': 643,
 'Social club': 644,
 'Warehouse': 645,
 'Açaí shop': 646,
 'Kaiseki restaurant': 647,
 'Health spa': 648,
 'Spa and health club': 649,
 'Outdoor swimming pool': 650,
 'Comic cafe': 651,
 'Magician': 652,
 'Antique store': 653,
 'ATV dealer': 654,
 'Snowmobile rental service': 655,
 'Real estate consultant': 656,
 'Self-storage facility': 657,
 'Thrift store': 658,
 'Kiosk': 659,
 'Boat dealer': 660,
 'Marine supply store': 661,
 'Haute French restaurant': 662,
 'Fishing store': 663,
 'Herbal medicine store': 664,
 'Tofu restaurant': 665,
 'Ukrainian restaurant': 666,
 'Stadium': 667,
 'Neapolitan restaurant': 668,
 'Mongolian barbecue restaurant': 669,
 'Boat tour agency': 670,
 'Cruise agency': 671,
 'Cheese manufacturer': 672,
 'Distribution service': 673,
 'Japanese delicatessen': 674,
 'Udon noodle restaurant': 675,
 'Soccer club': 676,
 'Adventure sports': 677,
 'Fitness center': 678,
 'Cupcake shop': 679,
 'Indian sweets shop': 680,
 'Party equipment rental service': 681,
 'Korean beef restaurant': 682,
 'Korean rib restaurant': 683,
 'Sauna': 684,
 'Tanning salon': 685,
 'Jewish restaurant': 686,
 'Architectural designer': 687,
 'Furniture maker': 688,
 'Furniture wholesaler': 689,
 'Kitchen furniture store': 690,
 'Upholstery shop': 691,
 'Sundae restaurant': 692,
 'Indian Muslim restaurant': 693,
 'Tuscan restaurant': 694,
 'Business to business service': 695,
 'Entertainment': 696,
 'Car racing track': 697,
 'Canoe & kayak tour agency': 698,
 'Public library': 699,
 'Stage': 700,
 'Balloon artist': 701,
 'Balloon store': 702,
 'Pinatas supplier': 703,
 'Malaysian restaurant': 704,
 'Wine cellar': 705,
 'Japanese regional restaurant': 706,
 'Band': 707,
 'Cambodian restaurant': 708,
 'Student dormitory': 709,
 'Modern European restaurant': 710,
 'Snowmobile dealer': 711,
 'Meeting planning service': 712,
 'Meeting room': 713,
 'Chilean restaurant': 714,
 'Aquarium': 715,
 'Zoo': 716,
 'Kite shop': 717,
 'Sweets and dessert buffet': 718,
 'Military base': 719,
 'Angler fish restaurant': 720,
 'Chocolate artisan': 721,
 'Cape Verdean restaurant': 722,
 'Kyoto style Japanese restaurant': 723,
 'Veterinarian': 724,
 'Wellness program': 725,
 'Gas shop': 726,
 'Dutch restaurant': 727,
 'Volleyball court': 728,
 'Yacht club': 729,
 'Salsa bar': 730,
 'Dairy': 731,
 'Aromatherapy supply store': 732,
 'Basque restaurant': 733,
 'Musical club': 734,
 'Rock music club': 735,
 'Garden': 736,
 'Wedding chapel': 737,
 'Weddings': 738,
 'Meat processor': 739,
 'Boat club': 740,
 'Flower market': 741,
 'Business center': 742,
 'Retail space rental agency': 743,
 'Health consultant': 744,
 'Yakiniku restaurant': 745,
 'Yakitori restaurant': 746,
 'Musician': 747,
 'Painting studio': 748,
 'Indoor swimming pool': 749,
 'Cleaners': 750,
 'Clothing alteration service': 751,
 'Laundromat': 752,
 'Laundry service': 753,
 'Welder': 754,
 'Sports school': 755,
 'Indonesian restaurant': 756,
 'Oyster supplier': 757,
 'Shrimp farm': 758,
 'State park': 759,
 'Visitor center': 760,
 'Education center': 761,
 'Athletic field': 762,
 'Nature preserve': 763,
 'Blues club': 764,
 'Art center': 765,
 'Organic shop': 766,
 'Irish goods store': 767,
 'Tobacco supplier': 768,
 'Ski rental service': 769,
 'Ski repair service': 770,
 'Seafood farm': 771,
 'Hookah store': 772,
 'Aerobics instructor': 773,
 'Tennis court': 774,
 'Western restaurant': 775,

In [ ]:
df_stores['category'] = df_stores['category'].apply(lambda x: x.split(', '))

df_stores.head()

,gmap_id,name,address,latitude,longitude,category,misc
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"[Bar, Restaurant]","{'Service options': ['Delivery'], 'Highlights'..."
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"[French restaurant, Restaurant]","{'Service options': ['Outdoor seating', 'Dine-..."
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"[Buffet restaurant, Delivery Restaurant, Itali...","{'Service options': ['Delivery'], 'Popular for..."
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"[Caterer, Fast food restaurant, Restaurant, Sa...","{'Service options': ['Curbside pickup', 'Takeo..."

In [ ]:
# Create a new column 'category_id' in the original DataFrame
df_stores['category_id'] = df_stores['category'].apply(lambda x: [category_index_map[category] for category in x])

df_stores.head()

,gmap_id,name,address,latitude,longitude,category,misc,category_id
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,"[0, 1, 2, 3, 4]"
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"[Bar, Restaurant]","{'Service options': ['Delivery'], 'Highlights'...","[5, 4]"
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"[French restaurant, Restaurant]","{'Service options': ['Outdoor seating', 'Dine-...","[6, 4]"
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"[Buffet restaurant, Delivery Restaurant, Itali...","{'Service options': ['Delivery'], 'Popular for...","[7, 8, 9, 10, 4]"
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"[Caterer, Fast food restaurant, Restaurant, Sa...","{'Service options': ['Curbside pickup', 'Takeo...","[11, 12, 4, 13, 14]"

In [ ]:
# Explode the 'category_id' column to create separate rows for each category_id
exploded_df = df_stores.explode('category_id')

In [ ]:
exploded_df

,gmap_id,name,address,latitude,longitude,category,misc,category_id
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,0
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,1
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,2
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,3
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"[ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,4
...,...,...,...,...,...,...,...,...
157443,0x89ba83163154720d:0x8656d643ae68b6a4,Ethereal Cupcakes And Coffee Shoppe,"Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...",37.044067,-76.394806,"[Bakery, Coffee shop, Live music venue, Vegan ...","{'Service options': ['Outdoor seating', 'Deliv...",73
157443,0x89ba83163154720d:0x8656d643ae68b6a4,Ethereal Cupcakes And Coffee Shoppe,"Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...",37.044067,-76.394806,"[Bakery, Coffee shop, Live music venue, Vegan ...","{'Service options': ['Outdoor seating', 'Deliv...",52
157443,0x89ba83163154720d:0x8656d643ae68b6a4,Ethereal Cupcakes And Coffee Shoppe,"Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...",37.044067,-76.394806,"[Bakery, Coffee shop, Live music venue, Vegan ...","{'Service options': ['Outdoor seating', 'Deliv...",74
157443,0x89ba83163154720d:0x8656d643ae68b6a4,Ethereal Cupcakes And Coffee Shoppe,"Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...",37.044067,-76.394806,"[Bakery, Coffee shop, Live music venue, Vegan ...","{'Service options': ['Outdoor seating', 'Deliv...",42
157443,0x89ba83163154720d:0x8656d643ae68b6a4,Ethereal Cupcakes And Coffee Shoppe,"Ethereal Cupcakes And Coffee Shoppe, 3150 Alla...",37.044067,-76.394806,"[Bakery, Coffee shop, Live music venue, Vegan ...","{'Service options': ['Outdoor seating', 'Deliv...",289


**Create Pivot table**

The third step is to create a pivot table representing the N:M relation between Store and Category

In [ ]:

# Create a new DataFrame with the desired columns
stores_categories = exploded_df[['gmap_id', 'category_id']]

stores_categories.head()

                                 gmap_id category_id
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           0
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           1
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           2
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           3
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           4

In [ ]:
#exportarmos a csv el df de categorias
stores_categories.to_csv('pivot_categories', index= True)

**Drop non-normalized columns**

The last step is to drop the columns we have already normalized by the previous steps

In [ ]:
# Drop the 'category' and 'category_id' columns from the original DataFrame
df_stores = df_stores.drop(['category', 'category_id'], axis=1)

df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157444 entries, 0 to 157443
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   misc       157444 non-null  object
dtypes: float64(2), object(4)
memory usage: 7.2+ MB

In [ ]:

df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157444 entries, 0 to 157443
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   misc       157444 non-null  object
dtypes: float64(2), object(4)
memory usage: 7.2+ MB

In [ ]:
statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'Texas';", fetch_size = 1000)
resp = session.execute(statement, timeout=None)


dictionary = {'gmap_id':[], 'state': []}


for row in resp:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['state'].append(row['state'])


gmap_id = pd.DataFrame(dictionary)

gmap_id.head()

                                 gmap_id  state
0  0x865689322c0fb279:0xa457523bbcff9910  Texas
1  0x865689322c0fb279:0xa457523bbcff9910  Texas
2  0x865689322c0fb279:0xa457523bbcff9910  Texas
3  0x865689322c0fb279:0xa457523bbcff9910  Texas
4  0x865689322c0fb279:0xa457523bbcff9910  Texas

In [ ]:
gmap_id_TX = gmap_id

In [ ]:
gmap_id_TX.nunique()

gmap_id    67740
state          1
dtype: int64

In [ ]:
gmap_id_TX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235415 entries, 0 to 2235414
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   gmap_id  object
 1   state    object
dtypes: object(2)
memory usage: 34.1+ MB

In [ ]:
gmap_id_TX_uniq = gmap_id_TX.drop_duplicates(subset='gmap_id')  # Eliminar filas duplicadas basadas en 'gmap_id'
gmap_id_TX_uniq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67740 entries, 0 to 2235403
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  67740 non-null  object
 1   state    67740 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [ ]:
statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'New York';", fetch_size = 1000)
resp = session.execute(statement, timeout=None)


dictionary = {'gmap_id':[], 'state': []}


for row in resp:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['state'].append(row['state'])


gmap_id_NY = pd.DataFrame(dictionary)

gmap_id_NY.head()

                                 gmap_id     state
0  0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York
1  0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York
2  0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York
3  0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York
4  0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York

In [ ]:
gmap_id_NY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640527 entries, 0 to 2640526
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   gmap_id  object
 1   state    object
dtypes: object(2)
memory usage: 40.3+ MB

In [ ]:
gmap_id_NY.nunique()

gmap_id    70444
state          1
dtype: int64

In [ ]:
gmap_id_NY_uniq = gmap_id_NY.drop_duplicates(subset='gmap_id')  # Eliminar filas duplicadas basadas en 'gmap_id'
gmap_id_NY_uniq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70444 entries, 0 to 2640500
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  70444 non-null  object
 1   state    70444 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [ ]:
statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'Nevada';", fetch_size = 1000)
resp = session.execute(statement, timeout=None)


dictionary = {'gmap_id':[], 'state': []}


for row in resp:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['state'].append(row['state'])


gmap_id_NV = pd.DataFrame(dictionary)

gmap_id_NV.head()

                                 gmap_id   state
0  0x809838e862869fd3:0x512c619a3a2c41cc  Nevada
1  0x809838e862869fd3:0x512c619a3a2c41cc  Nevada
2  0x809838e862869fd3:0x512c619a3a2c41cc  Nevada
3  0x809838e862869fd3:0x512c619a3a2c41cc  Nevada
4  0x809838e862869fd3:0x512c619a3a2c41cc  Nevada

In [ ]:
gmap_id_NV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1775999 entries, 0 to 1775998
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   gmap_id  object
 1   state    object
dtypes: object(2)
memory usage: 27.1+ MB

In [ ]:
gmap_id_NV_uniq = gmap_id_NV.drop_duplicates(subset='gmap_id')  # Eliminar filas duplicadas basadas en 'gmap_id'
gmap_id_NV_uniq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21490 entries, 0 to 1775964
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  21490 non-null  object
 1   state    21490 non-null  object
dtypes: object(2)
memory usage: 503.7+ KB

In [ ]:
statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'California';", fetch_size = 1000)
resp = session.execute(statement, timeout=None)


dictionary = {'gmap_id':[], 'state': []}


for row in resp:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['state'].append(row['state'])


gmap_id_CA = pd.DataFrame(dictionary)

gmap_id_CA.head()

                                 gmap_id       state
0  0x80c335e5afce634b:0xd412bd31f33038cd  California
1  0x80c335e5afce634b:0xd412bd31f33038cd  California
2  0x80c335e5afce634b:0xd412bd31f33038cd  California
3  0x80c335e5afce634b:0xd412bd31f33038cd  California
4  0x80c335e5afce634b:0xd412bd31f33038cd  California

In [ ]:
gmap_id_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624746 entries, 0 to 2624745
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   gmap_id  object
 1   state    object
dtypes: object(2)
memory usage: 40.1+ MB

In [ ]:
gmap_id_CA_uniq = gmap_id_CA.drop_duplicates(subset='gmap_id')  # Eliminar filas duplicadas basadas en 'gmap_id'
gmap_id_CA_uniq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73405 entries, 0 to 2624714
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  73405 non-null  object
 1   state    73405 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [ ]:
statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'Florida';", fetch_size = 500)
resp = session.execute(statement, timeout=None)


dictionary = {'gmap_id':[], 'state': []}


for row in resp:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['state'].append(row['state'])


gmap_id_FL = pd.DataFrame(dictionary)

gmap_id_FL.head()

                                 gmap_id    state
0  0x88dd38d385b5eb65:0xb4c00e4025ae82f3  Florida
1  0x88dd38d385b5eb65:0xb4c00e4025ae82f3  Florida
2  0x88dd38d385b5eb65:0xb4c00e4025ae82f3  Florida
3  0x88dd38d385b5eb65:0xb4c00e4025ae82f3  Florida
4  0x88dd38d385b5eb65:0xb4c00e4025ae82f3  Florida

In [ ]:
gmap_id_FL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2730490 entries, 0 to 2730489
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   gmap_id  object
 1   state    object
dtypes: object(2)
memory usage: 41.7+ MB

In [ ]:
gmap_id_FL['gmap_id'].value_counts()

0x88c2c48d32bf5d49:0x2ba1ab03c399c073    6782
0x88c2e332a3819f0d:0x285a45e522aac26f    6031
0x88e77eeacfeec8e9:0x7a463828386bb8e9    5583
0x88d9b5e001f8b66b:0xc26b69935f8af491    5352
0x88dd7f8136a04afb:0x85a2c311efe17283    4824
                                         ...
0x88d92ec48e9cddf7:0x61588ebbd64ba959       5
0x88d904ba5ccce4f1:0x5f0cf3fe2b5e7b8c       5
0x88d91c56699d7d81:0x67b8c68ec860f38c       5
0x88c325bccdfeaa2d:0xea6a82579a811008       4
0x88d9aaf42462d131:0x7169e852b4d63902       4
Name: gmap_id, Length: 59200, dtype: int64

In [ ]:
gmap_id_FL_uniq = gmap_id_FL.drop_duplicates(subset='gmap_id')  # Eliminar filas duplicadas basadas en 'gmap_id'

In [ ]:
gmap_id_FL_uniq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59200 entries, 0 to 2730470
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  59200 non-null  object
 1   state    59200 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

In [ ]:
df_gmap_id_estates = pd.concat([gmap_id_CA_uniq, gmap_id_FL_uniq,gmap_id_NV_uniq, gmap_id_NY_uniq, gmap_id_TX_uniq ], ignore_index=True)  # Concatenar DataFrames

In [ ]:
df_gmap_id_estates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292279 entries, 0 to 292278
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   gmap_id  292279 non-null  object
 1   state    292279 non-null  object
dtypes: object(2)
memory usage: 4.5+ MB

In [ ]:
df_gmap_id_estates.nunique()

gmap_id    292279
state           5
dtype: int64

In [ ]:
df_stores_states = result = pd.merge(df_stores, df_gmap_id_estates,how = 'left', on='gmap_id')

In [ ]:
df_stores_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157444 entries, 0 to 157443
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   misc       157444 non-null  object
 6   state      23041 non-null   object
dtypes: float64(2), object(5)
memory usage: 9.6+ MB

In [ ]:
df_stores_states.head()

,gmap_id,name,address,latitude,longitude,misc,state
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,{'Accessibility': ['Wheelchair accessible entr...,NaN
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"{'Service options': ['Delivery'], 'Highlights'...",NaN
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"{'Service options': ['Outdoor seating', 'Dine-...",NaN
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"{'Service options': ['Delivery'], 'Popular for...",NaN
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"{'Service options': ['Curbside pickup', 'Takeo...",NaN

In [ ]:
# eliminar filas que no correspondan a los 5 estados seleccionados.
df_stores_cleaned = df_stores_states.dropna(subset=['state'])

In [ ]:
df_stores_cleaned.head()

,gmap_id,name,address,latitude,longitude,misc,state
14,0x80c2c65af79ca789:0xa585cfe5d1430d04,Pok Pok Phat Thai- Los Angeles,"Pok Pok Phat Thai- Los Angeles, 727 N Broadway...",34.061512,-118.239738,"{'Service options': ['Outdoor seating', 'Deliv...",California
16,0x8085870fc40fa211:0x5ed309bfdc595759,"Chicken'licious Noodle ""咪走鷄""","Chicken'licious Noodle ""咪走鷄"", 5801 Geary Blvd,...",37.779991,-122.481705,"{'Service options': ['Delivery'], 'Health & sa...",California
20,0x865c882f3cb0c9ab:0x47e61f2678fde77b,Shell,"Shell, 24354 Wilderness Oak, San Antonio, TX 7...",29.665701,-98.477501,{'Accessibility': ['Wheelchair accessible entr...,Texas
21,0x89e9cb13665ad3c7:0x1ad39b2f95f4f464,CJ's,"CJ's, 479 Bay Ave, Ocean Beach, NY 11770",40.648949,-73.156754,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York
24,0x89c25fa8c79d0fd9:0xe8d88e50dc3328e2,Delicias Colombianas,"Delicias Colombianas, 37-03 82nd St, Queens, N...",40.749516,-73.884125,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York

In [ ]:
df_stores_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23041 entries, 14 to 157442
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gmap_id    23041 non-null  object
 1   name       23041 non-null  object
 2   address    23018 non-null  object
 3   latitude   23041 non-null  float64
 4   longitude  23041 non-null  float64
 5   misc       23041 non-null  object
 6   state      23041 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.4+ MB

In [ ]:
df_stores_cleaned.to_csv('stores_cleaned',index= False)

In [ ]:
# Función para determinar si la cadena contiene 'Delivery'
def has_delivery(row):
    if isinstance(row['misc'], str) and 'Delivery' in row['misc']:
        return 'yes'
    else:
        return 'no'

# Aplicar la función a cada fila y crear la nueva columna 'delivery'
df_stores_cleaned['delivery'] = df_stores_cleaned.apply(has_delivery, axis=1)

# Mostrar el DataFrame resultante
print(df_stores_cleaned)

                                      gmap_id                            name  \
14      0x80c2c65af79ca789:0xa585cfe5d1430d04  Pok Pok Phat Thai- Los Angeles
16      0x8085870fc40fa211:0x5ed309bfdc595759    Chicken'licious Noodle "咪走鷄"
20      0x865c882f3cb0c9ab:0x47e61f2678fde77b                           Shell
21      0x89e9cb13665ad3c7:0x1ad39b2f95f4f464                            CJ's
24      0x89c25fa8c79d0fd9:0xe8d88e50dc3328e2            Delicias Colombianas
...                                       ...                             ...
157409  0x866121268e434f15:0x7ba0f3a00826a54a                  Cakes of Glory
157416  0x86456c632bc64691:0x1498937c5b72a435      Kolache Kitchen - Downtown
157435  0x80ea695a4cc7e337:0x59115571d2177d64         Home. Boutique & Bakery
157441  0x88e7790ad915b3bf:0xe29ffb688b004513              Echantillon Bakery
157442  0x89c25a263dab771f:0xe92ae29003b3656d                      Q Q Bakery

                                                  address   latitude  \
14      Pok Pok Phat Thai- Los Angeles, 727 N Broadway...  34.061512
16      Chicken'licious Noodle "咪走鷄", 5801 Geary Blvd,...  37.779991
20      Shell, 24354 Wilderness Oak, San Antonio, TX 7...  29.665701
21               CJ's, 479 Bay Ave, Ocean Beach, NY 11770  40.648949
24      Delicias Colombianas, 37-03 82nd St, Queens, N...  40.749516
...                                                   ...        ...
157409  Cakes of Glory, 107 Calle del Norte Rd #16, La...  27.553736
157416  Kolache Kitchen - Downtown, 115 W French Ave, ...  31.102543
157435  Home. Boutique & Bakery, 3310 Truxtun Ave #160...  35.373718
157441  Echantillon Bakery, 5233 Old Winter Garden Rd,...  28.540880
157442  Q Q Bakery, 50 E Broadway # 1, New York, NY 10002  40.713718

         longitude                                               misc  \
14     -118.239738  {'Service options': ['Outdoor seating', 'Deliv...
16     -122.481705  {'Service options': ['Delivery'], 'Health & sa...
20      -98.477501  {'Accessibility': ['Wheelchair accessible entr...
21      -73.156754  {'Service options': ['Takeout', 'Dine-in', 'De...
24      -73.884125  {'Service options': ['Takeout', 'Dine-in', 'De...
...            ...                                                ...
157409  -99.494431  {'Service options': ['In-store pickup', 'In-st...
157416  -97.340584  {'Service options': ['In-store shopping', 'Tak...
157435 -119.039139                  {'Service options': ['Delivery']}
157441  -81.450752  {'Service options': ['Delivery', 'In-store sho...
157442  -73.995697                  {'Service options': ['Delivery']}

             state delivery
14      California      yes
16      California      yes
20           Texas       no
21        New York      yes
24        New York      yes
...            ...      ...
157409       Texas       no
157416       Texas      yes
157435  California      yes
157441     Florida      yes
157442    New York      yes

[23041 rows x 8 columns]

<ipython-input-100-b660d3385e36>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stores_cleaned['delivery'] = df_stores_cleaned.apply(has_delivery, axis=1)

In [ ]:
df_stores_cleaned.head()

,gmap_id,name,address,latitude,longitude,misc,state,delivery
14,0x80c2c65af79ca789:0xa585cfe5d1430d04,Pok Pok Phat Thai- Los Angeles,"Pok Pok Phat Thai- Los Angeles, 727 N Broadway...",34.061512,-118.239738,"{'Service options': ['Outdoor seating', 'Deliv...",California,yes
16,0x8085870fc40fa211:0x5ed309bfdc595759,"Chicken'licious Noodle ""咪走鷄""","Chicken'licious Noodle ""咪走鷄"", 5801 Geary Blvd,...",37.779991,-122.481705,"{'Service options': ['Delivery'], 'Health & sa...",California,yes
20,0x865c882f3cb0c9ab:0x47e61f2678fde77b,Shell,"Shell, 24354 Wilderness Oak, San Antonio, TX 7...",29.665701,-98.477501,{'Accessibility': ['Wheelchair accessible entr...,Texas,no
21,0x89e9cb13665ad3c7:0x1ad39b2f95f4f464,CJ's,"CJ's, 479 Bay Ave, Ocean Beach, NY 11770",40.648949,-73.156754,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York,yes
24,0x89c25fa8c79d0fd9:0xe8d88e50dc3328e2,Delicias Colombianas,"Delicias Colombianas, 37-03 82nd St, Queens, N...",40.749516,-73.884125,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York,yes

In [ ]:
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

'''if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test

from mage_ai.data_preparation.variable_manager import set_global_variable

@data_loader
'''
# Define una variable global
reviews_yelp = None

def load_data(*args, **kwargs):
    global reviews_yelp  # Indicar que estamos utilizando la variable global

    # ... (tu código para cargar los datos)

    # Establece la variable global 'reviews_yelp' con el índice final
    reviews_yelp = indice_fin

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']

    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion

    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'New York';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_newyork = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_newyork))

    set_global_variable('reviews_yelp', 'indice_inicio', indice_fin)


# Llama a la función load_data con los argumentos adecuados
    indice_inicio = 4000
    tamaño_particion = 5000
    load_data(indice_inicio=indice_inicio, tamaño_particion=tamaño_particion)

# Ahora puedes acceder a la variable global 'reviews_yelp' en cualquier parte del código

'''@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'
'''

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['186.87.6.161'], lbp = None)

'@test\ndef test_output(output, *args) -> None:\n    """\n    Template code for testing the output of the block.\n    """\n    assert output is not None, \'The output is undefined\'\n'

In [ ]:
# Define una variable global
reviews_yelp = None

def load_data(*args, **kwargs):
    global reviews_yelp  # Indicar que estamos utilizando la variable global


    # Establece la variable global 'reviews_yelp' con el índice final
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']
    indice_fin = indice_inicio + tamaño_particion


    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'New York';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_newyork = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_newyork))

    set_global_variable('reviews_yelp', 'indice_inicio', indice_fin)


    # Asigna un valor específico a 'reviews_yelp'
    reviews_yelp = indice_fin

    set_global_variable('reviews_yelp', 'indice_inicio', indice_fin)

# Llama a la función load_data con los argumentos adecuados
indice_inicio = 4000
tamaño_particion = 5000
load_data(indice_inicio=indice_inicio, tamaño_particion=tamaño_particion)

# Ahora puedes acceder a la variable global 'reviews_yelp' y asignarla a 'valor'
valor = reviews_yelp

# Imprime el valor de 'valor', que es igual al valor de 'reviews_yelp'
print(valor)

NameError: ignored

In [ ]:
# Define una variable global
reviews_yelp = None

def load_data(*args, **kwargs):
    global reviews_yelp  # Indicar que estamos utilizando la variable global

    # ... (tu código para cargar los datos)

    # Establece la variable global 'reviews_yelp' con el índice final
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']
    indice_fin = indice_inicio + tamaño_particion

    # Resto del código para cargar los datos...

    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'New York';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_newyork = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_newyork))

    # Asigna un valor específico a 'reviews_yelp'
    reviews_yelp = indice_fin

# Llama a la función load_data con los argumentos adecuados
indice_inicio = 4000
tamaño_particion = 5000
load_data(indice_inicio=indice_inicio, tamaño_particion=tamaño_particion)

# Ahora puedes acceder a la variable global 'reviews_yelp' y asignarla a 'valor'
valor = reviews_yelp

# Imprime el valor de 'valor', que es igual al valor de 'reviews_yelp'
print(valor)

KeyboardInterrupt: ignored

codigo ok

In [ ]:
@data_loader
def load_data(*args, **kwargs):

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']

    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion


    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'Texas';", fetch_size = 500)
    resp = session.execute(statement, (estados,), timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_newyork = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_newyork))

    set_global_variable('reviewsyelp_to_sql_ale', 'indice_inicio', indice_fin)

    return reviews_newyork

@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'

In [ ]:

    categories_searched = ['Restaurant',
                        'restaurant',
                        'Bar',
                        'bar',
                        'Deli',
                        'Grocery',
                        'Coffee',
                        'Bakery',
                        'Sandwich']

    dictionary = {'gmap_id':[],
                'name': [],
                'address': [],
                'latitude': [],
                'longitude': [],
                'category':[],
                'misc':[]}



    for category_searched in categories_searched:
    # Construct the query
        query = f"""SELECT gmap_id, name, address, latitude, longitude, category, misc
                    FROM stores
                    WHERE category CONTAINS '{category_searched}'
                    """
        statement = SimpleStatement(query, fetch_size=500)
        answer = session.execute(statement, timeout=None)

        for row in answer:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['name'].append(row['name'])
            dictionary['address'].append(row['address'])
            dictionary['latitude'].append(row['latitude'])
            dictionary['longitude'].append(row['longitude'])
            # Convert the SortedSet to a comma-separated string
            category_str = ', '.join(row['category'])
            dictionary['category'].append(category_str)
            dictionary['misc'].append(row['misc'])


    stores = pd.DataFrame(dictionary)

    return stores

LLAMAR A VARIOS ESTADOS JUNTOS

In [ ]:
# Define una variable global
reviews_yelp = None

def load_data(*args, **kwargs):
    global reviews_yelp  # Indicar que estamos utilizando la variable global

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']

    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion

    # Variable estados
    estados = ['New York', 'California', 'Texas', 'Nevada', 'Florida']

    # Construir la consulta CQL dinámicamente
    query = "SELECT * FROM reviews WHERE state IN ("

    # Agregar marcadores de posición para cada estado
    query += ', '.join(['%s' for _ in estados])

    query += ")ALLOW FILTERING;"

    # Crear una tupla de valores para los marcadores de posición
    values = tuple(estados)

    # Ejecutar la consulta
    statement = SimpleStatement(query, fetch_size=500)
    resp = session.execute(statement, values, timeout=None)

    # Resto de tu código para cargar los datos...

# Llama a la función load_data con los argumentos adecuados
indice_inicio = 4000
tamaño_particion = 5000
load_data(indice_inicio=indice_inicio, tamaño_particion=tamaño_particion)

# Ahora puedes acceder a la variable global 'reviews_yelp' y asignarla a 'valor'
valor = reviews_yelp

# Imprime el valor de 'valor', que es igual al valor de 'reviews_yelp'
print(valor)

In [ ]:
valor = reviews_yelp  # Asigna el valor de la variable global 'reviews_yelp' a una nueva variable 'valor'
print(valor)  # Imprime el valor de 'valor', que es igual al valor de 'reviews_yelp'

None

In [ ]:
#renaming gmap_id column

df_stores_cleaned = df_stores_cleaned.rename(columns={'gmap_id': 'store_id'})

df_stores_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23041 entries, 14 to 157442
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_id   23041 non-null  object
 1   name       23041 non-null  object
 2   address    23018 non-null  object
 3   latitude   23041 non-null  float64
 4   longitude  23041 non-null  float64
 5   misc       23041 non-null  object
 6   state      23041 non-null  object
 7   delivery   23041 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.1+ MB

In [ ]:
df_stores_cleaned['platform'] = 'google'

In [ ]:
df_stores_cleaned.head()

,store_id,name,address,latitude,longitude,misc,state,delivery,platform
14,0x80c2c65af79ca789:0xa585cfe5d1430d04,Pok Pok Phat Thai- Los Angeles,"Pok Pok Phat Thai- Los Angeles, 727 N Broadway...",34.061512,-118.239738,"{'Service options': ['Outdoor seating', 'Deliv...",California,yes,google
16,0x8085870fc40fa211:0x5ed309bfdc595759,"Chicken'licious Noodle ""咪走鷄""","Chicken'licious Noodle ""咪走鷄"", 5801 Geary Blvd,...",37.779991,-122.481705,"{'Service options': ['Delivery'], 'Health & sa...",California,yes,google
20,0x865c882f3cb0c9ab:0x47e61f2678fde77b,Shell,"Shell, 24354 Wilderness Oak, San Antonio, TX 7...",29.665701,-98.477501,{'Accessibility': ['Wheelchair accessible entr...,Texas,no,google
21,0x89e9cb13665ad3c7:0x1ad39b2f95f4f464,CJ's,"CJ's, 479 Bay Ave, Ocean Beach, NY 11770",40.648949,-73.156754,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York,yes,google
24,0x89c25fa8c79d0fd9:0xe8d88e50dc3328e2,Delicias Colombianas,"Delicias Colombianas, 37-03 82nd St, Queens, N...",40.749516,-73.884125,"{'Service options': ['Takeout', 'Dine-in', 'De...",New York,yes,google

In [ ]:
# Reordenar las columnas moviendo la última columna a la segunda posición
new_order = ['store_id', 'platform', 'name', 'address','state','latitude'	,'longitude',	'misc',	'delivery']
df_stores_cleaned = df_stores_cleaned[new_order]
df_stores_cleaned.head()

,store_id,platform,name,address,state,latitude,longitude,misc,delivery
14,0x80c2c65af79ca789:0xa585cfe5d1430d04,google,Pok Pok Phat Thai- Los Angeles,"Pok Pok Phat Thai- Los Angeles, 727 N Broadway...",California,34.061512,-118.239738,"{'Service options': ['Outdoor seating', 'Deliv...",yes
16,0x8085870fc40fa211:0x5ed309bfdc595759,google,"Chicken'licious Noodle ""咪走鷄""","Chicken'licious Noodle ""咪走鷄"", 5801 Geary Blvd,...",California,37.779991,-122.481705,"{'Service options': ['Delivery'], 'Health & sa...",yes
20,0x865c882f3cb0c9ab:0x47e61f2678fde77b,google,Shell,"Shell, 24354 Wilderness Oak, San Antonio, TX 7...",Texas,29.665701,-98.477501,{'Accessibility': ['Wheelchair accessible entr...,no
21,0x89e9cb13665ad3c7:0x1ad39b2f95f4f464,google,CJ's,"CJ's, 479 Bay Ave, Ocean Beach, NY 11770",New York,40.648949,-73.156754,"{'Service options': ['Takeout', 'Dine-in', 'De...",yes
24,0x89c25fa8c79d0fd9:0xe8d88e50dc3328e2,google,Delicias Colombianas,"Delicias Colombianas, 37-03 82nd St, Queens, N...",New York,40.749516,-73.884125,"{'Service options': ['Takeout', 'Dine-in', 'De...",yes

In [ ]:
df_stores_cleaned.to_csv('df_stores', index=True)

In [ ]:
!pip install cassandra-driver
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

'''if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test


@data_loader
'''


def load_data(*args, **kwargs):

    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'New York';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)


    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}


    for row in resp:
        dictionary['gmap_id'].append(row['gmap_id'])
        dictionary['state'].append(row['state'])
        dictionary['user_id'].append(row['user_id'])
        dictionary['name'].append(row['name'])
        dictionary['time'].append(row['time'])
        dictionary['rating'].append(row['rating'])
        dictionary['text'].append(row['text'])
        dictionary['resp'].append(row['resp'])


    reviews_newyork = pd.DataFrame(dictionary)

    return reviews_newyork


'''
@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'
'''

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.10/dist-packages (3.28.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['186.87.6.161'], lbp = None)

'\n@test\ndef test_output(output, *args) -> None:\n    """\n    Template code for testing the output of the block.\n    """\n    assert output is not None, \'The output is undefined\'\n'

In [ ]:
load_data()

                                       gmap_id     state       user_id  \
0        0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York  1.178222e+20
1        0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York  1.152701e+20
2        0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York  1.150746e+20
3        0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York  1.142735e+20
4        0x89d1ab10d5e58599:0xbde28cea3afc74bf  New York  1.138342e+20
...                                        ...       ...           ...
2640522  0x89c25b9c0ffedda5:0xce77cc8bfde6a777  New York  1.026083e+20
2640523  0x89c25b9c0ffedda5:0xce77cc8bfde6a777  New York  1.021010e+20
2640524  0x89c25b9c0ffedda5:0xce77cc8bfde6a777  New York  1.019849e+20
2640525  0x89c25b9c0ffedda5:0xce77cc8bfde6a777  New York  1.019652e+20
2640526  0x89c25b9c0ffedda5:0xce77cc8bfde6a777  New York  1.013544e+20

                       name                    time  rating  \
0         Colleen McDaniels 2019-07-23 18:16:14.035       5
1           Lucas Calafiore 2020-06-23 21:08:59.278       5
2            Thomas Testani 2019-04-22 17:56:17.739       4
3                  mad mike 2018-10-20 23:11:10.324       5
4            Reggie Hoffman 2020-12-27 12:37:05.099       5
...                     ...                     ...     ...
2640522          Kevin Lowe 2018-12-20 14:25:52.083       5
2640523            Jai Berg 2018-08-15 19:05:01.201       4
2640524  Lanette Brightwell 2020-12-13 05:59:28.723       4
2640525    Yioula Euthimaki 2018-11-23 03:10:34.621       1
2640526        David Phelps 2016-07-28 20:14:48.436       5

                                                      text  resp
0                                       Great organization  None
1                                                     None  None
2                                                     None  None
3                                                     None  None
4            People were very friendly and enjoy our self.  None
...                                                    ...   ...
2640522      very very neice guy and show good hospitality  None
2640523                                               None  None
2640524           Great Paint store, excellent handwriting  None
2640525                                               None  None
2640526  Super friendly service and wide selection. Wil...  None

[2640527 rows x 8 columns]

,gmap_id,state,user_id,name,time,rating,text,resp
0,0x89d1ab10d5e58599:0xbde28cea3afc74bf,New York,1.178222e+20,Colleen McDaniels,2019-07-23 18:16:14.035,5,Great organization,None
1,0x89d1ab10d5e58599:0xbde28cea3afc74bf,New York,1.152701e+20,Lucas Calafiore,2020-06-23 21:08:59.278,5,None,None
2,0x89d1ab10d5e58599:0xbde28cea3afc74bf,New York,1.150746e+20,Thomas Testani,2019-04-22 17:56:17.739,4,None,None
3,0x89d1ab10d5e58599:0xbde28cea3afc74bf,New York,1.142735e+20,mad mike,2018-10-20 23:11:10.324,5,None,None
4,0x89d1ab10d5e58599:0xbde28cea3afc74bf,New York,1.138342e+20,Reggie Hoffman,2020-12-27 12:37:05.099,5,People were very friendly and enjoy our self.,None
...,...,...,...,...,...,...,...,...
2640522,0x89c25b9c0ffedda5:0xce77cc8bfde6a777,New York,1.026083e+20,Kevin Lowe,2018-12-20 14:25:52.083,5,very very neice guy and show good hospitality,None
2640523,0x89c25b9c0ffedda5:0xce77cc8bfde6a777,New York,1.021010e+20,Jai Berg,2018-08-15 19:05:01.201,4,None,None
2640524,0x89c25b9c0ffedda5:0xce77cc8bfde6a777,New York,1.019849e+20,Lanette Brightwell,2020-12-13 05:59:28.723,4,"Great Paint store, excellent handwriting",None
2640525,0x89c25b9c0ffedda5:0xce77cc8bfde6a777,New York,1.019652e+20,Yioula Euthimaki,2018-11-23 03:10:34.621,1,None,None
2640526,0x89c25b9c0ffedda5:0xce77cc8bfde6a777,New York,1.013544e+20,David Phelps,2016-07-28 20:14:48.436,5,Super friendly service and wide selection. Wil...,None

In [ ]:
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory
import set_global_variable
import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

'''if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test

from mage_ai.data_preparation.variable_manager import set_global_variable

@data_loader'''
def load_data(*args, **kwargs):

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']

    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion

    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'California';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_california = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_california))

    set_global_variable('prueba_cassandra_to_sql', 'indice_inicio', indice_fin)

    return reviews_california

'''@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'
'''

ModuleNotFoundError: ignored

In [ ]:
from mage_ai.settings.repo import get_repo_path
from mage_ai.io.config import ConfigFileLoader
from mage_ai.io.mysql import MySQL
from pandas import DataFrame
from os import path

if 'data_exporter' not in globals():
    from mage_ai.data_preparation.decorators import data_exporter


@data_exporter
def export_data_to_mysql(df: DataFrame, **kwargs) -> None:
    """
    Template for exporting data to a MySQL database.
    Specify your configuration settings in 'io_config.yaml'.

    Docs: https://docs.mage.ai/design/data-loading#mysql
    """
    table_name = 'reviews_newyork'  # Specify the name of the table to export data to
    config_path = path.join(get_repo_path(), 'io_config.yaml')
    config_profile = 'default'

    with MySQL.with_config(ConfigFileLoader(config_path, config_profile)) as loader:
        loader.export(
            df,
            None,
            table_name,
            index=False,  # Specifies whether to include index in exported table
            if_exists='replace',  # Specify resolution policy if table name already exists
        )

### carga de todos los estados

In [ ]:
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test

from mage_ai.data_preparation.variable_manager import set_global_variable

@data_loader
def load_data(*args, **kwargs):

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    particion = kwargs['particion']

    # Calcular el índice final
    indice_fin = indice_inicio + particion

    statement = SimpleStatement("SELECT * FROM reviews WHERE state = 'California';", fetch_size = 500)
    resp = session.execute(statement, timeout=None)

    dictionary = {'gmap_id':[], 'state': [], 'user_id':[], 'name': [], 'time':[], 'rating': [], 'text':[], 'resp': []}

    for i, row in enumerate(resp):
        # Verificar si el índice actual está dentro del rango de la partición
        if indice_inicio <= i < indice_fin:
            dictionary['gmap_id'].append(row['gmap_id'])
            dictionary['state'].append(row['state'])
            dictionary['user_id'].append(row['user_id'])
            dictionary['name'].append(row['name'])
            dictionary['time'].append(row['time'])
            dictionary['rating'].append(row['rating'])
            dictionary['text'].append(row['text'])
            dictionary['resp'].append(row['resp'])

    reviews_california = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_california))

    set_global_variable('reviews_google_to_sql', 'indice_inicio', indice_fin)

    return reviews_california

@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'

In [ ]:
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd

cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test

from mage_ai.data_preparation.variable_manager import set_global_variable

@data_loader
def load_data(*args, **kwargs):

    # Acceder a las variables globales de carga
    indice_inicio = kwargs['indice_inicio']
    tamaño_particion = kwargs['tamaño_particion']

    # Calcular el índice final
    indice_fin = indice_inicio + tamaño_particion

    Estados = ['New York','Texas', 'Nevada', 'California', 'Florida']

    dictionary = {
                'gmap_id':[],
                'state': [],
                'user_id':[],
                'name': [],
                'time':[],
                'rating': [],
                'text':[],
                'resp': []}

    for estado in Estados:
    # Construct the query
        query = f"""SELECT gmap_id, state, user_id, name, time, rating, text, resp
                    FROM reviews WHERE state = '{estado}'
                    """
        statement = SimpleStatement(query,fetch_size = 500)
        resp = session.execute(statement,timeout=None)


        for i, row in enumerate(resp):
            # Verificar si el índice actual está dentro del rango de la partición
            if indice_inicio <= i < indice_fin:
                dictionary['gmap_id'].append(row['gmap_id'])
                dictionary['state'].append(row['state'])
                dictionary['user_id'].append(row['user_id'])
                dictionary['name'].append(row['name'])
                dictionary['time'].append(row['time'])
                dictionary['rating'].append(row['rating'])
                dictionary['text'].append(row['text'])
                dictionary['resp'].append(row['resp'])

    reviews_texas = pd.DataFrame(dictionary)

    indice_fin = min(indice_fin, indice_inicio + len(reviews_texas))

    set_global_variable('reviewsyelp_to_sql_ale', 'indice_inicio', indice_fin)

    return reviews_texas

@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'