# Cassandra Data Lake

### Cassandra Architecture

A typical cassandra cluster architecture follows the following schema>

![Estructura Cassandra](https://www.red-gate.com/simple-talk/wp-content/uploads/2019/01/cassandra-cluster-node-l-n-keyspace-1-column-f.png "a title")

In this stage, there is one node with one keyspace called 'Henry' with the following Tables:

**reviews**:
  * gmap_id: Google Maps unique id of the store.
  * state: USA state where the store is located.
  * user_id: Client idetification.
  * name: User's name.
  * time: datetime data of the moment the review was made.
  * rating: Int score (1 to 5).
  * text: The text posted by the client/user.
  * resp: Dictionary storing the answers to the comment from the user [*text datatype*]. Each comment stores the 'time' and the 'text'.

**stores**:
  * gmap_id: Google Maps unique id of the store.
  * name: Store's name.
  * Address: Store's address.
  * category: A List storing the categories associated to the store.
  * description:
  * hours:
  * latitud:
  * longitud:
  * price:

### Imports

In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.28.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.1/19.1 MB 41.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.6)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.28.0 geomet-0.2.1.post1

In [2]:

from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement, dict_factory

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Connecting to Cluster

In [6]:
cluster = Cluster(['186.87.6.161'], port='9042', protocol_version = 5) #IP del servidor y el puerto estandar de cassandra 9042
session = cluster.connect('henry')
session.row_factory = dict_factory

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['186.87.6.161'], lbp = None)

### Creating ETL for Stores Table

In [40]:
for row in session.execute("SELECT * FROM stores  LIMIT 5"):
  print(row)

{'gmap_id': '0x89c260cbcf2848c7:0x9b12a43601b1da0d', 'name': 'Chandrabali Home Improvement', 'address': 'Chandrabali Home Improvement, 133-20 95th Ave, Queens, NY 11419', 'category': SortedSet(['General contractor']), 'description': None, 'hours': "[['Monday', '7AM–5PM'], ['Tuesday', '7AM–5PM'], ['Wednesday', '7AM–5PM'], ['Thursday', '7AM–5PM'], ['Friday', '7AM–5PM'], ['Saturday', '8AM–1PM'], ['Sunday', 'Closed']]", 'latitude': 40.695640563964844, 'longitude': -73.81490325927734, 'misc': 'None', 'price': 'None', 'url': 'https://www.google.com/maps/place//data=!4m2!3m1!1s0x89c260cbcf2848c7:0x9b12a43601b1da0d?authuser=-1&hl=en&gl=us'}
{'gmap_id': '0x88f67d6459172897:0xb6897aae90060770', 'name': 'Morgan County Detention Center', 'address': 'Morgan County Detention Center, 1380 Monticello Rd, Madison, GA 30650', 'category': SortedSet(['Government office']), 'description': None, 'hours': "[['Wednesday', 'Open 24 hours'], ['Thursday', 'Open 24 hours'], ['Friday', 'Open 24 hours'], ['Saturday', 'Open 24 hours'], ['Sunday', 'Open 24 hours'], ['Monday', 'Open 24 hours'], ['Tuesday', 'Open 24 hours']]", 'latitude': 33.567928314208984, 'longitude': -83.49186706542969, 'misc': "{'Accessibility': ['Wheelchair accessible entrance']}", 'price': 'None', 'url': 'https://www.google.com/maps/place//data=!4m2!3m1!1s0x88f67d6459172897:0xb6897aae90060770?authuser=-1&hl=en&gl=us'}
{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'name': 'Visionworks Ahwatukee Foothills Towne Center', 'address': 'Visionworks Ahwatukee Foothills Towne Center, 4933 E Ray Rd #103, Phoenix, AZ 85044', 'category': SortedSet(['Contact lenses supplier', 'Optician', 'Optometrist', 'Sunglasses store']), 'description': None, 'hours': "[['Sunday', 'Closed'], ['Monday', '9AM–7PM'], ['Tuesday', '9AM–7PM'], ['Wednesday', '9AM–7PM'], ['Thursday', '9AM–7PM'], ['Friday', '9AM–7PM'], ['Saturday', '9AM–7PM']]", 'latitude': 33.318477630615234, 'longitude': -111.97660827636719, 'misc': "{'Health & safety': ['Mask required', 'Temperature check required', 'Staff wear masks', 'Staff get temperature checks'], 'Accessibility': ['Wheelchair accessible entrance'], 'Planning': ['Appointments recommended']}", 'price': 'None', 'url': 'https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b04470d741527:0x7f1db0b8d8a08f24?authuser=-1&hl=en&gl=us'}
{'gmap_id': '0x8084e9b074260dff:0xdb6db7126cd4dbc5', 'name': 'Esparto Community Park', 'address': 'Esparto Community Park, 17001 Yolo Ave, Esparto, CA 95627', 'category': SortedSet(['Park']), 'description': None, 'hours': 'None', 'latitude': 38.69273376464844, 'longitude': -122.0164794921875, 'misc': "{'Accessibility': ['Wheelchair accessible entrance'], 'Amenities': ['Good for kids']}", 'price': 'None', 'url': 'https://www.google.com/maps/place//data=!4m2!3m1!1s0x8084e9b074260dff:0xdb6db7126cd4dbc5?authuser=-1&hl=en&gl=us'}
{'gmap_id': '0x88fe7ae8109a4dd7:0xa389d43e4bed4e01', 'name': 'Feltmann Roofing, Construction & Design', 'address': 'Feltmann Roofing, Construction & Design, 2424 Air Park Rd, North Charleston, SC 29406', 'category': SortedSet(['General contractor', 'Roofing contractor']), 'description': None, 'hours': "[['Saturday', 'Closed'], ['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ['Tuesday', '8AM–5PM'], ['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5PM'], ['Friday', '8AM–5PM']]", 'latitude': 32.89463806152344, 'longitude': -80.02108001708984, 'misc': 'None', 'price': 'None', 'url': 'https://www.google.com/maps/place//data=!4m2!3m1!1s0x88fe7ae8109a4dd7:0xa389d43e4bed4e01?authuser=-1&hl=en&gl=us'}

In [47]:
categories_searched = ['Restaurant',
                       'restaurant',
                       'Bar',
                       'bar',
                       'Deli',
                       'Grocery',
                       'Coffee',
                       'Bakery',
                       'Sandwich']

dictionary = {'gmap_id':[],
              'name': [],
              'address': [],
              'latitude': [],
              'longitude': [],
              'category':[],
              'misc':[]}


for category_searched in categories_searched:
  # Construct the query
  query = f"""
        SELECT gmap_id,name,address,latitude,longitude,category, misc
        FROM stores
        WHERE category CONTAINS '{category_searched}'
        """
  statement = SimpleStatement(query, fetch_size = 5000)

  answer = session.execute(statement, timeout=None)


  for row in answer:
    dictionary['gmap_id'].append(row['gmap_id'])
    dictionary['name'].append(row['name'])
    dictionary['address'].append(row['address'])
    dictionary['latitude'].append(row['latitude'])
    dictionary['longitude'].append(row['longitude'])
    dictionary['category'].append(row['category'])
    dictionary['misc'].append(row['misc'])

WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3281 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -8280643747536662167 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3282 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x88db3f249fe467d5:0xcff20eb95036653d') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -7293152001064475856 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3272 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x885c178e9b1b6549:0x7be5a0ca4d1ba88c') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -6339665295057895686 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3320 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x86ddf9ca63630fd1:0xcc9c144e62657278') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -5376864847160956074 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3251 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89c14b0092e0f725:0x56d5878589eb9bcd') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -4405945400775822285 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3245 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x88579d76bf7e1329:0x1fc9c67b142d8b76') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -3436306710408320414 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3287 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x8620a5fe5f83aa59:0xdfe2a5184f7d2c8') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -2496499688593435468 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3254 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x88e78f0c9636011d:0x1c9c163e5f708f17') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -1535083687945698028 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3205 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89ddbd297d2c27c9:0x9e6a49876d2531ae') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token -590568200789401116 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3213 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x86409c970f49e48b:0x97ef132ca736b726') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 350437790228727534 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3297 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x88f0ece95f7573a5:0xd3f294dd55401811') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 1280827286076672523 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3289 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89c24fa017f038e9:0x635a97cd16aac87c') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 2230973454990679148 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3238 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x88d9c22c471e92bb:0x6999593b98cd0f79') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 3188289994792510513 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3321 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x8823c239d97a677d:0xb0d588552c9081b1') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 4149681078722579815 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3196 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89aee7f1f07ce269:0x4124c2235d87653b') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 5086164511240824023 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3282 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x4d35f221a754d7cf:0x87888dfd87458628') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 6026885318135321903 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3287 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89e798f0f54e87a9:0x19d0bff1bcf80a80') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 6988947840749827247 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3245 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x80c8bf47d9e5752f:0x119dfa50e113b006') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 7952937967660253380 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3205 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89acdeef35f23ea9:0x967c60e8d99367b2') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 8901620244631874474 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 1738 live rows and 1095 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x8842538c88248a87:0x34150c88cb19da3e') AND category CONTAINS 'Restaurant' LIMIT 5000 ALLOW FILTERING; token 9223282787730440247 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3961 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token -6177619686249134904 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3967 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x80c8ea180bc597d9:0x627cd1aa761ac9a0') AND category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token -3221716544558703471 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3940 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x8866e322b2fbd77d:0xd628d4d9405be343') AND category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token -204880906987801558 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3903 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x885773ef8cbcf5bf:0xa56b14413895f02b') AND category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token 2774370982569630230 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3966 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x8830d5b106f03497:0x26bdde41ff784b') AND category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token 5734215422203395070 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3927 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x880b8bf936da9aed:0xf8f9bdd25be96800') AND category CONTAINS 'Bar' LIMIT 5000 ALLOW FILTERING; token 8750661217497216860 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3865 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE category CONTAINS 'Deli' LIMIT 5000 ALLOW FILTERING; token -903936591200091354 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3852 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x87ddc334c818733f:0x5037e99f1d0e0ed4') AND category CONTAINS 'Deli' LIMIT 5000 ALLOW FILTERING; token 7508115429385357362 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3406 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE category CONTAINS 'Bakery' LIMIT 5000 ALLOW FILTERING; token -4258408540373283589 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3258 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x4cb28b6b94fa4ad7:0x6960541ed267f508') AND category CONTAINS 'Bakery' LIMIT 5000 ALLOW FILTERING; token 512942826617459035 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 5000 live rows and 3392 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89c259cedd1afbc5:0xe1086f4725a8e9d6') AND category CONTAINS 'Bakery' LIMIT 5000 ALLOW FILTERING; token 5400579506219530819 (see tombstone_warn_threshold)
WARNING:cassandra.protocol:Server warning: Read 3928 live rows and 2642 tombstone cells for query SELECT address, category, latitude, longitude, misc FROM henry.stores WHERE token(gmap_id) >= token('0x89c67138088bce6b:0x6aa061b534a53d06') AND category CONTAINS 'Bakery' LIMIT 5000 ALLOW FILTERING; token 9223209325780413067 (see tombstone_warn_threshold)

In [53]:
# Create a DataFrame from the dictionary
df_stores = pd.DataFrame(dictionary)

df_stores.head()

,gmap_id,name,address,latitude,longitude,category,misc
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"(ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"(Bar, Restaurant)","{'Service options': ['Delivery'], 'Highlights'..."
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"(French restaurant, Restaurant)","{'Service options': ['Outdoor seating', 'Dine-..."
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"(Buffet restaurant, Delivery Restaurant, Itali...","{'Service options': ['Delivery'], 'Popular for..."
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"(Caterer, Fast food restaurant, Restaurant, Sa...","{'Service options': ['Curbside pickup', 'Takeo..."

In [50]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157444 entries, 0 to 157443
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   category   157444 non-null  object
 6   misc       157444 non-null  object
dtypes: float64(2), object(5)
memory usage: 8.4+ MB

### Normalize Categories

#### Category df

The first step is to create a df storing all the unique categories.

In [61]:
# Create a new DataFrame with the unique categories
df_category = pd.DataFrame({'category': df_stores['category'].apply(list).explode().unique()})

#aux_df = df_stores['category'].apply(list).explode().unique()

'''
# Split the categories into separate rows
splitted_df = aux_df['category'].explode()

# Get the unique categories
unique_categories = splitted_df.unique()

# Create a new DataFrame with the unique categories
df_category = pd.DataFrame({'category': unique_categories})

'''
#aux_df.explode().unique()
df_category.head()

            category
0                ATM
1           Car wash
2  Convenience store
3        Gas station
4         Restaurant

#### Get Categories id

The second step is to get the categories id of each store

In [63]:
# Create a dictionary to map each unique category to its index
category_index_map = {category: index for index, category in enumerate(df_category['category'])}

# Create a new column 'category_id' in the original DataFrame
df_stores['category_id'] = df_stores['category'].apply(lambda x: [category_index_map[category] for category in x])

df_stores.head()

,gmap_id,name,address,latitude,longitude,category,misc,category_id
0,0x87f38b6db3bf5557:0xb793ff26fbedb7fe,Shell,"Shell, 1510 Giant Dr, Blue Earth, MN 56013",43.657063,-94.097725,"(ATM, Car wash, Convenience store, Gas station...",{'Accessibility': ['Wheelchair accessible entr...,"[0, 1, 2, 3, 4]"
1,0x80c8bf86a8b9a3f1:0xacfe57cd1919e249,Ember's Grill + Spirits,"Ember's Grill + Spirits, 740 S Rampart Blvd, L...",36.163380,-115.289413,"(Bar, Restaurant)","{'Service options': ['Delivery'], 'Highlights'...","[5, 4]"
2,0x808506614c768671:0xde51b62058db3bce,La Toque,"La Toque, 1314 McKinstry St, Napa, CA 94559",38.304173,-122.283989,"(French restaurant, Restaurant)","{'Service options': ['Outdoor seating', 'Dine-...","[6, 4]"
3,0x8842ecec5931b86b:0x703640198411596d,Godfather's Pizza,"Godfather's Pizza, 233 Lexington Rd, Lancaster...",37.625710,-84.580132,"(Buffet restaurant, Delivery Restaurant, Itali...","{'Service options': ['Delivery'], 'Popular for...","[7, 8, 9, 10, 4]"
4,0x87e030ec559cac7f:0x8f04ab05959695e6,Subway,"Subway, 330 N 1st St, Cuba, IL 61427",40.496239,-90.198875,"(Caterer, Fast food restaurant, Restaurant, Sa...","{'Service options': ['Curbside pickup', 'Takeo...","[11, 12, 4, 13, 14]"

#### Create Pivot table

The third step is to create a pivot table representing the N:M relation between Store and Category

In [64]:
# Explode the 'category_id' column to create separate rows for each category_id
exploded_df = df_stores.explode('category_id')

# Create a new DataFrame with the desired columns
stores_categories = exploded_df[['gmap_id', 'category_id']]

stores_categories.head()

                                 gmap_id category_id
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           0
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           1
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           2
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           3
0  0x87f38b6db3bf5557:0xb793ff26fbedb7fe           4

#### Drop non-normalized columns

The last step is to drop the columns we have already normalized by the previous steps

In [65]:
# Drop the 'category' and 'category_id' columns from the original DataFrame
df_stores = df_stores.drop(['category', 'category_id'], axis=1)

df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157444 entries, 0 to 157443
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gmap_id    157444 non-null  object
 1   name       157444 non-null  object
 2   address    156787 non-null  object
 3   latitude   157444 non-null  float64
 4   longitude  157444 non-null  float64
 5   misc       157444 non-null  object
dtypes: float64(2), object(4)
memory usage: 7.2+ MB

### Normalize Misc Column

The only data that it's important from this columns is the information regarding the delivery service.

### Creating ETL for Reviews Table

In [25]:
for row in session.execute("SELECT * FROM reviews  LIMIT 5"):
  print(row)

{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'state': 'Arizona', 'user_id': 1.183714955019923e+20, 'time': datetime.datetime(2021, 2, 22, 18, 13, 43, 61000), 'name': 'Margaret Chavez', 'rating': 5, 'resp': 'None', 'text': 'Staff was very helpful and kind.'}
{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'state': 'Arizona', 'user_id': 1.1816620348694698e+20, 'time': datetime.datetime(2018, 2, 1, 16, 31, 24, 414000), 'name': 'Peter USA', 'rating': 4, 'resp': "{'time': 1517589819669, 'text': 'Thanks for the review, Peter Balogh!'}", 'text': 'For your eyes only'}
{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'state': 'Arizona', 'user_id': 1.1764944181798529e+20, 'time': datetime.datetime(2020, 2, 27, 23, 28, 9, 731000), 'name': 'S V', 'rating': 5, 'resp': "{'time': 1582901005609, 'text': 'We truly appreciate you taking the time to give us such a fabulous rating shiva!'}", 'text': None}
{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'state': 'Arizona', 'user_id': 1.1741387365075753e+20, 'time': datetime.datetime(2019, 4, 13, 16, 38, 50, 888000), 'name': 'Mary Tohannie', 'rating': 5, 'resp': "{'time': 1555263264441, 'text': 'We appreciate your review of our staff and services, Mary! Thank you!'}", 'text': 'Awesome staff who were very welcoming and very friendly. We actually stopped at another optometrist before VisionWorks. That staff seemed not as friendly and thats when we went to VisionWorks. Tye staff was really friendly with my kids (who are very shy) but they liked him and he helped pick out frames and they even all joked around. Definitely recommend!!'}
{'gmap_id': '0x872b04470d741527:0x7f1db0b8d8a08f24', 'state': 'Arizona', 'user_id': 1.1737029780592552e+20, 'time': datetime.datetime(2019, 3, 14, 16, 27, 43, 255000), 'name': 'Rikki Willis', 'rating': 5, 'resp': "{'time': 1552659667843, 'text': 'Thank for the 5 stars, Rikki!'}", 'text': None}

In [35]:
state_searched = 'Florida'
query = f"""
        SELECT gmap_id,user_id,time,rating,text
        FROM reviews
        WHERE state = '{state_searched}'
        LIMIT 50
        """

statement = SimpleStatement(query, fetch_size = 5000)

dictionary = {'gmap_id':[],
              'user_id': [],
              'time': [],
              'rating': [],
              'text': []}



answer = session.execute(statement, timeout=None)

for row in answer:
  dictionary['gmap_id'].append(row['gmap_id'])
  dictionary['user_id'].append(row['user_id'])
  dictionary['time'].append(row['time'])
  dictionary['rating'].append(row['rating'])
  dictionary['text'].append(row['text'])

In [39]:
# Expanding the code to get only categories of interest

dictionary = {'gmap_id':[],
              'user_id': [],
              'time': [],
              'rating': [],
              'text': []}

state_searched = 'Florida'
categories_searched = ['Restaurant',
                       'restaurant',
                       'Bar',
                       'bar',
                       'Deli',
                       'Grocery',
                       'Coffee',
                       'Bakery',
                       'Sandwich']


for category_searched in categories_searched:
  # Construct the query
  query = f"""
      SELECT gmap_id, user_id, time, rating, text
      FROM reviews
      WHERE state = '{state_searched}'
            AND
            category CONTAINS '{category_searched}'
      ;
      """
  statement = SimpleStatement(query, fetch_size = 5000)

  answer = session.execute(statement, timeout=None)

  for row in answer:
    dictionary['gmap_id'].append(row['gmap_id'])
    dictionary['user_id'].append(row['user_id'])
    dictionary['time'].append(row['time'])
    dictionary['rating'].append(row['rating'])
    dictionary['text'].append(row['text'])

InvalidRequest: ignored

In [37]:
print(categories_clause)

category CONTAINS 'Restaurant' OR category CONTAINS 'Bar' OR category CONTAINS 'Deli' OR category CONTAINS 'Grocery' OR category CONTAINS 'Coffee' OR category CONTAINS 'Bakery' OR category CONTAINS 'Sandwich'

In [28]:
# Create a DataFrame from the dictionary
df_Florida = pd.DataFrame(dictionary)

df_Florida.head()

,gmap_id,user_id,time,rating,text
0,0x88dd38d385b5eb65:0xb4c00e4025ae82f3,1.161696e+20,2018-03-22 03:13:11.693,1,The reason I rated this business a one is due ...
1,0x88dd38d385b5eb65:0xb4c00e4025ae82f3,1.156656e+20,2017-06-12 20:16:07.334,5,None
2,0x88dd38d385b5eb65:0xb4c00e4025ae82f3,1.151872e+20,2019-11-04 15:35:22.941,5,I don't like going to the dentist or anything ...
3,0x88dd38d385b5eb65:0xb4c00e4025ae82f3,1.141875e+20,2018-06-12 19:58:18.204,5,None
4,0x88dd38d385b5eb65:0xb4c00e4025ae82f3,1.110949e+20,2017-05-23 20:28:31.360,5,I had to get a root canal a few years back out...

In [29]:
df_Florida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gmap_id  5000 non-null   object
 1   user_id  5000 non-null   float64
 2   time     5000 non-null   datetime64[ns]
 3   rating   5000 non-null   int64
 4   text     2932 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 195.4+ KB

Checking the length of the longest value in 'text' column

In [31]:
# Find the length of each string in the 'text' column
text_lengths = df_Florida['text'].str.len()

# Find the index of the longest string
max_length_index = text_lengths.idxmax()

# Get the longest string
longest_string = df_Florida.loc[max_length_index, 'text']

# Print the length and the longest string
print("index:", max_length_index)
print("Length of the longest string:", text_lengths[max_length_index])
print("Longest string:", longest_string)

index: 1444
Length of the longest string: 2843.0
Longest string: I have been a member of Massage Envy for ~2 years.  In that time, I've enjoyed monthly or sometimes twice monthly sessions.

Today, I was sick and in the interest of not wanting to spread my illness, I called at the opening of business, to let them know I was sick.  I was told that I would be charged 50% of the standard rate for the cancellation.  The young lady was pleasant and asked if she could run the credit card on file for the fee.  I replied that I was mixed in my mind as to the charge, and that I would sort the charge when I wasn't sick.  I told her that I may be a bit agitated due to the illness, and wanted to have a clear head prior to addressing the charge.

Five minutes later, I received a notification from American Express that my card had been charged the cancellation fee.  I called back and asked if they had charged my card for the cancellation fee.  She replied that she did not but her manager had charged me.  I asked if she had relayed my message to the manager and she said she had.  I asked to speak with the manager.

I was greeted by Bo(sp?).  I asked him if the young lady had relayed my concern and he said she had not, but that he had to charge me under the rules.  I asked if he saw any problem with charging my card when I expressly told them not to use the card.  He cut me off by saying, "The problem is you not showing up for your appointment."  His insolent tone was like none I've heard from a nationwide chain.

My anger at this point made me respond with a firm, "Excuse me???"  His tone continued to show his lack of respect and professionalism.  I demanded that he cancel my membership.  To this he responded apathetically and with a disrespectful tone.  I told him that I would come down there to resolve the issue.

After time to cool down, I called and asked for his superior's name.  He told me Debbie was the owner. I asked to speak with her.  He told me should would be in around 2PM.  I asked him to have her return my call as soon as possible.

I then told him that I was dissapointed with his tone and was hoping for an apology.  He very disrespectfully told me "Why would I apologize when I haven't done anything wrong?"  This was said as a statement rather than a question.  He then told me he had witnesses in the form of the girl I had initially talked to that would back up his story.  I responded that we'll see how that works out when I contact corporate and write a review.

I would have probably paid the cancellation fee if I had been treated professionally.  Respect and professionalism is a foundation for any business, particularly in the service industry.  I was shocked that someone like Bo can be put into a position of customer interaction at a managerial level.  I'm very disappointed with the management, and after reading the other reviews, I can see I'm not alone.

In [33]:
df_Florida.iloc[1444]

gmap_id                0x88e78f1b97d09887:0x667ae9efc37cbcc2
user_id                              109643352298380853248.0
time                              2014-11-20 16:36:57.333000
rating                                                     1
text       I have been a member of Massage Envy for ~2 ye...
Name: 1444, dtype: object